<div class="container__modal animate__animated animate__zoomIn animate__faster">
  <div class="container bg-white rounded-3 justify-content-center frm-register">
    <div class="row mb-3 mt-3">
      <div class="col">
        <img
          class="frm-register__img float-end"
          routerLink="/"
          src="../assets/img/icon_closed_black.png"
          alt="cerrar" />
      </div>
    </div>

    <form
      class="frm-register__form row g-3 p-3 pb-4 mb-3"
      #f="ngForm"
      (ngSubmit)="onSubmit(f)">
      <div class="col-12 frm-register__input">
        <label class="text-dark fw-bold text-center" for=""
          >Ingresa tu email para recuperar tu contraseña</label
        >
        <input
          [(ngModel)]="email"
          type="email"
          name="email"
          class="form-control"
          id="email"
          required
          email
          aria-describedby="emailHelp"
          placeholder="Dirección de email" />
        <div
          *ngIf="(f.submitted && f.controls['email'].errors) || errorServer"
          id="emailHelp"
          class="form-text text-danger">
          {{ errorResponse.email }}
        </div>
      </div>

      <div class="col-12">
        <div>
          <button class="button_modal col-12 mb-2" type="submit">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</div>
