<div class="ctn-mydata">
  <div class="text-center text-bymia" *ngIf="loading">
    <i class="bx bx-md bx-loader-alt bx-spin"></i>
  </div>
  <!-- Container Principal -->
  <div class="mydata__bg" *ngIf="showData">
    <!-- Container fondo gris  -->
    <div class="mydata__back">
      <a [routerLink]="['/panel']">
        <img src="../assets/svg/Icon-arrow-back.svg" alt="Go back"
      /></a>
      <a [routerLink]="['/panel']"> Volver a la página anterior</a>
    </div>

    <div class="ctn-mydata__bg">
      <!-- container fondo blanco  -->
      <div class="mydata__flx">
        <div class="mydata">
          <!-- container fondo blanco mobile  -->

          <div class="mydata__title">
            <h3>Mis datos</h3>
            <button class="btn__mydata btn-mobile" (click)="openEditProfile()">
              Editar
            </button>
          </div>
          <div class="mydata__bgd">
            <div>
              <div>
                <h3>Código de identificacion:</h3>
                <p>{{ userProfile.customerData.code_id }}</p>
              </div>
              <!--  <button class="btn__mydata btn-deskt">Editar</button> -->
            </div>
            <div>
              <h3>Tipo de cliente:</h3>
              <p>{{ userProfile.customerData.type_user }}</p>
            </div>
            <div>
              <h3>Nombre y apellido:</h3>
              <p>{{ userProfile.customerData.name }}</p>
            </div>
            <div>
              <h3>Email:</h3>
              <p>{{ userProfile.customerData.email }}</p>
            </div>
            <div>
              <h3>Teléfono:</h3>
              <p>{{ userProfile.customerData.phone }}</p>
            </div>
            <div>
              <h3>Sexo:</h3>
              <p>{{ userProfile.customerData.gender }}</p>
            </div>
            <div>
              <h3>Fecha de nacimiento:</h3>
              <p>{{ userProfile.customerData.birthdate }}</p>
            </div>
            <div class="mydata__security">
              <h3>Seguridad</h3>
              <p>
                Para cambiar tu password cliqueá
                <a routerLink="/forget-password">acá</a> y confirmá tu email a
                donde se enviará un código para que activés la nueva contraseña.
              </p>
            </div>
          </div>
        </div>
        <div class="mydata__billing">
          <div class="mydata">
            <!-- container fondo blanco mobile  -->
            <div class="mydata__title">
              <h3>Mis datos de facturación</h3>
              <button class="btn__mydata btn-mobile" *ngIf="false">
                Editar
              </button>
            </div>
            <div
              class="mydata__bgd"
              *ngIf="userProfile.customerData.latest_billing_data">
              <div>
                <h3>Código de identificación:</h3>
                <p>
                  {{ userProfile.customerData.latest_billing_data.name }}
                  {{ userProfile.customerData.latest_billing_data.code_id }}
                </p>
              </div>
              <div>
                <h3>Tipo de cliente:</h3>
                <p>
                  {{ userProfile.customerData.latest_billing_data.type_user }}
                </p>
              </div>
              <div>
                <h3>Nombre y apellidos:</h3>
                <p>
                  {{ userProfile.customerData.latest_billing_data.name }}
                </p>
              </div>
              <div>
                <h3>Email:</h3>
                <p>{{ userProfile.customerData.latest_billing_data.email }}</p>
              </div>
              <div>
                <h3>Teléfono:</h3>
                <p>{{ userProfile.customerData.latest_billing_data.phone }}</p>
              </div>
              <div>
                <h3>Tipo de identificación:</h3>
                <p>
                  {{
                    userProfile.customerData.latest_billing_data.identity_type
                  }}
                </p>
              </div>
              <div>
                <h3>Número de identificación:</h3>
                <p>
                  {{
                    userProfile.customerData.latest_billing_data.identity_number
                  }}
                </p>
              </div>
              <div>
                <h3>País:</h3>
                <p>
                  {{ userProfile.customerData.latest_billing_data.country }}
                </p>
              </div>
              <div>
                <h3>Estado o provincia:</h3>
                <p>{{ userProfile.customerData.latest_billing_data.state }}</p>
              </div>
              <div>
                <h3>Ciudad:</h3>
                <p>{{ userProfile.customerData.latest_billing_data.city }}</p>
              </div>
              <div>
                <h3>Dirección:</h3>
                <p>
                  {{ userProfile.customerData.latest_billing_data.address }}
                </p>
              </div>
              <div>
                <h3>Código Postal:</h3>
                <p>
                  {{ userProfile.customerData.latest_billing_data.zip_code }}
                </p>
              </div>
            </div>
            <div
              class="mydata__bgd"
              *ngIf="!userProfile.customerData.latest_billing_data">
              <h3>No cuentas con datos de facturación</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="mydata__address mydata">
        <div class="mydata__title">
          <h3>Mis direcciones</h3>
          <button class="btn__mydata btn-mobile" *ngIf="false">
            <i class="bx bxs-plus-circle bx-tada-hover"></i>Agregar
          </button>
        </div>
        <div>
          <button class="btn__mydata btn-deskt btn-address">
            <i></i> Agregá una nueva dirección: podés cargar hasta 5
          </button>
        </div>
        <div class="ctn__addres" *ngIf="userProfile.customerData.my_addresses">
          <div
            class="mydata__address__card"
            *ngFor="let address of userProfile.customerData.my_addresses">
            <h3>{{ address.name }}</h3>
            <p>
              {{ address.city }}, {{ address.state }}, {{ address.address }}, CP
              {{ address.zip_code }},
              {{ address.phone }}
            </p>
          </div>

          <!-- <div class="mydata__address__card">
            <h3>Diego Vidal Caro</h3>
            <p>
              Estados Unidos, MIAMI, FL, WAREHOUSE 7953 NW 64TH ST, 33166,
              +541162964723
            </p>
            <div class="address__button">
              <button>Editar dirección</button>
              <p>|</p>
              <button>Eliminar</button>
            </div>
          </div>
          <div class="mydata__address__card">
            <h3>Diego Vidal Caro</h3>
            <p>
              Estados Unidos, MIAMI, FL, WAREHOUSE 7953 NW 64TH ST, 33166,
              +541162964723
            </p>
            <div class="address__button">
              <button>Editar dirección</button>
              <p>|</p>
              <button>Eliminar</button>
            </div>
          </div>
          <div class="mydata__address__card">
            <h3>Diego Vidal Caro</h3>
            <p>
              Estados Unidos, MIAMI, FL, WAREHOUSE 7953 NW 64TH ST, 33166,
              +541162964723
            </p>
            <div class="address__button">
              <button>Editar dirección</button>
              <p>|</p>
              <button>Eliminar</button>
            </div>
          </div>
          <div class="mydata__address__card">
            <h3>Diego Vidal Caro</h3>
            <p>
              Estados Unidos, MIAMI, FL, WAREHOUSE 7953 NW 64TH ST, 33166,
              +541162964723
            </p>
            <div class="address__button">
              <button>Editar dirección</button>
              <p>|</p>
              <button>Eliminar</button>
            </div>
          </div> -->
        </div>
        <div
          class="mydata__address__card"
          *ngIf="!userProfile.customerData.my_addresses">
          <h3></h3>
          <p>No tienes direcciones registradas</p>
        </div>
      </div>
    </div>
  </div>
</div>
