<div class="ctn-mydata">
  <!-- Container Principal -->
  <div class="mydata__bg">
    <!-- Container fondo gris  -->
    <div class="mydata__back">
      <a [routerLink]="['/panel']">
        <img src="../assets/svg/Icon-arrow-back.svg" alt="Go back"
      /></a>
      <a [routerLink]="['/panel']"> Volver a la página anterior</a>
    </div>
    <div class="ctn-mydata__bg">
      <!-- container fondo blanco  -->
      <div class="mydata__flx">
        <div class="mydata">
          <!-- container fondo blanco mobile  -->

          <div class="mydata__title">
            <h3>Mis datos</h3>
            <button class="btn__mydata btn-mobile">Editar</button>
          </div>
          <div class="mydata__bgd">
            <div>
              <div>
                <h3>Código de identificacion:</h3>
                <p>24354634654</p>
              </div>
              <button class="btn__mydata btn-deskt">Editar</button>
            </div>
            <div>
              <h3>Tipo de cliente:</h3>
              <p>persona</p>
            </div>
            <div>
              <h3>Nombre y apellido:</h3>
              <p>Diego Vidal Caro</p>
            </div>
            <div>
              <h3>Email:</h3>
              <p>dvidalcaro@gmail.com</p>
            </div>
            <div>
              <h3>Teléfono:</h3>
              <p>+541121254001</p>
            </div>
            <div>
              <h3>Sexo:</h3>
              <p>Masculino</p>
            </div>
            <div>
              <h3>Fecha de nacimiento:</h3>
              <p>07/08/1986</p>
            </div>
            <div class="mydata__security">
              <h3>Seguridad</h3>
              <p>
                Para cambiar tu password cliqueá
                <a routerLink="/forget-password">acá</a> y confirmá tu email a
                donde se enviará un código para que activés la nueva contraseña.
              </p>
            </div>
          </div>
        </div>
        <div class="mydata__billing">
          <div class="mydata">
            <!-- container fondo blanco mobile  -->
            <div class="mydata__title">
              <h3>Mis datos de facturación</h3>
              <button class="btn__mydata btn-mobile">Editar</button>
            </div>
            <div class="mydata__bgd">
              <div>
                <div>
                  <h3>Nombre y apellido / Nombre de la empresa:</h3>
                  <p>24354634654</p>
                </div>
                <button class="btn__mydata btn-deskt">Editar</button>
              </div>
              <div>
                <h3>Tipo de cliente:</h3>
                <p>persona</p>
              </div>
              <div>
                <h3>Email:</h3>
                <p>dvidalcaro@gmail.com</p>
              </div>
              <div>
                <h3>Teléfono:</h3>
                <p>+541121254001</p>
              </div>
              <div>
                <h3>Tipo de identificación:</h3>
                <p>DNI</p>
              </div>
              <div>
                <h3>Número de identificación:</h3>
                <p>45464646</p>
              </div>
              <div>
                <h3>País:</h3>
                <p>Argentina</p>
              </div>
              <div>
                <h3>Estado o provincia:</h3>
                <p>CABA</p>
              </div>
              <div>
                <h3>Ciudad:</h3>
                <p>Buenos Aires</p>
              </div>
              <div>
                <h3>Dirección:</h3>
                <p>Ernrique santos</p>
              </div>
              <div>
                <h3>Código Postal:</h3>
                <p>1051</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mydata__address mydata">
        <div class="mydata__title">
          <h3>Mis direcciones</h3>
          <button class="btn__mydata btn-mobile">
            <i class="bx bxs-plus-circle bx-tada-hover"></i>Agregar
          </button>
        </div>
        <div>
          <button class="btn__mydata btn-deskt btn-address">
            <i></i> Agregá una nueva dirección: podés cargar hasta 5
          </button>
        </div>
        <div class="ctn__addres">
          <div class="mydata__address__card">
            <h3>Diego Vidal Caro</h3>
            <p>
              Estados Unidos, MIAMI, FL, WAREHOUSE 7953 NW 64TH ST, 33166,
              +541162964723
            </p>
            <div class="address__button">
              <button>Editar dirección</button>
              <p>|</p>
              <button>Eliminar</button>
            </div>
          </div>
          <div class="mydata__address__card">
            <h3>Diego Vidal Caro</h3>
            <p>
              Estados Unidos, MIAMI, FL, WAREHOUSE 7953 NW 64TH ST, 33166,
              +541162964723
            </p>
            <div class="address__button">
              <button>Editar dirección</button>
              <p>|</p>
              <button>Eliminar</button>
            </div>
          </div>
          <div class="mydata__address__card">
            <h3>Diego Vidal Caro</h3>
            <p>
              Estados Unidos, MIAMI, FL, WAREHOUSE 7953 NW 64TH ST, 33166,
              +541162964723
            </p>
            <div class="address__button">
              <button>Editar dirección</button>
              <p>|</p>
              <button>Eliminar</button>
            </div>
          </div>
          <div class="mydata__address__card">
            <h3>Diego Vidal Caro</h3>
            <p>
              Estados Unidos, MIAMI, FL, WAREHOUSE 7953 NW 64TH ST, 33166,
              +541162964723
            </p>
            <div class="address__button">
              <button>Editar dirección</button>
              <p>|</p>
              <button>Eliminar</button>
            </div>
          </div>
          <div class="mydata__address__card">
            <h3>Diego Vidal Caro</h3>
            <p>
              Estados Unidos, MIAMI, FL, WAREHOUSE 7953 NW 64TH ST, 33166,
              +541162964723
            </p>
            <div class="address__button">
              <button>Editar dirección</button>
              <p>|</p>
              <button>Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
