.container__most__searched{
    
    margin-bottom: 50px;

    h1{
        text-align: center;
        margin-top: 330px;
        font-size: 4.375rem ;
        font-weight: bold;
        padding: 0px 190px 0 190px;
    }

    p{
        text-align: center;
        font-size: 1.375rem ;
        font-weight: 100;
        color: #B2B2B2;
        margin: 0;
        
    }
}

.most__searched{
    width: 23.1875rem;
    height: 16.5rem ;
    background-color: $secundary-color;
    border-radius: 24px;
    
}

.searched{
    display: flex;
    flex-direction: column;
    width: 23.5rem;
    height: 16.8rem ;
    background-color: #101010;
    border-radius: 24px 101px 24px 24px;
    padding-left: 2.1875rem;
    

    p{
        text-align: start;
        color: $primary-color;
        font-weight: bold;
        font-size:1.625rem ;
    }

    

    img{
        align-self: center;
        margin: 2.1875rem 0px 2.1875rem -2.1875rem ;
        padding: 0;
    }

    .description__searched{
        align-self: flex-start;
        padding-right: 4.6875rem ;
        span{
            text-align: start;
            color: #B2B2B2;
            font-size: 0.875rem;
            
        }
    }

    .img__out{
        margin: -1.1875rem 0px 2.1875rem -2.1875rem ;
    }
}

.categories__contain{
    display: flex;
    justify-content: center;
    gap: 6.125rem;
    margin-top: 8.0625rem;
}

.see__more{
    display: flex;
    justify-content: center;
    flex-direction: column;

    .see__more__button{
        background-color: $secundary-color;
        color: $background-color;
        font-size:1.375rem ;
        font-weight: bold;
        border-radius: 1.5625rem;
        padding: 4px 6px;
        margin-top: 3.25rem;
        width: 8.875rem;
        align-self: center;
       cursor: pointer;

       
    }

    ul{
        display: flex;
       justify-content: center;
       gap: 20%;
       flex-wrap: wrap;
       padding: 0px 200px 0px 200px;
       margin-top: 50px;

        li{
            list-style-type: none;
            margin-top: 37px;
            cursor: pointer;
            color: $secundary-color;
            text-align: center;
            width: 184px;
        }
       }
}
