.container__product__shopcart{
    justify-content: space-between;
}
.container__subtotal{
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    align-self: center;
    button{
        font-size: 0.875rem ;
        font-weight: bold;
        padding: 0.75rem 1.125rem;

    }
    
}

.subtotal{
    display: flex;
    width: auto;
    height: 3.0625rem;
    flex-direction: column;
    justify-content: center;
   
    h6{
        font-size:0.75rem ;
        font-weight: medium;
        color: $background-color;
        margin: 0;
        padding: 0;
    }

    p{
        
        font-size:1.25rem ;
        font-weight: bold;
        color: $background-color;
        margin: 0;
        padding: 0;
    }

   
}

.product__shopcart{
    h3{
        font-size: 0.75rem ;
        font-weight: bold;
        color: $background-color;
        margin: 0;
    }

    p{
        font-size: 0.75rem ;
        font-weight: bold;
        color: $background-color; 
        margin: 0;
        text-align: center;
    }

   
}

.product__shopcart__quantity{
    display: flex;
    justify-content: center;
    gap: 0.5rem ;
    cursor: pointer;
    p{
        font-weight: bold;
    }

   
}

.button__product__shopcart{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.25rem ;
}

.button__deleteallproduct{
    font-size: 0.575rem ;
    font-weight: bold;
    color: $primary-color;
    background-color: $background-color;
    border-radius: 0.5625rem;
    padding: 0.3rem 0.75rem;
    margin-top: 0.4rem;
}

/* .container__modal__confirm{
    height: 70vh;
} */

.confirm__p{
    text-align: center;
    font-weight: bold;
}

.button__confirm{
    margin-bottom: 1.075rem;
}

.container__product__noproduct{
    flex-direction: column;
    gap: 0.5rem;
    padding: 7rem 0;

    h2{
        color: $background-color;
    }

    p{
        color: #101010;
    }

    .noproduct__a{
        text-decoration: none;
        color: $background-color;
        cursor: pointer;
        font-weight: bold;
        background-color: $secundary-color;
        border-radius: 0.5675rem;
        padding: 0.5rem 1rem;
        border: none;
        
    }
}

.container__form{

    .exclamation{
        align-self: center;
        width: auto;
        height: auto;
    }

}
