<nav
  class="navbar sticky-top navbar-expand-xl navbar-dark bg-black navbar-custom">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarBymia"
      aria-controls="navbarBymia"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/']">
      <img
        class="navbar-nav ms-5 me-auto mb-2 py-4"
        src="{{ urlLogo }}"
        alt="Bymia shop" />
    </a>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarBymia">
      <!-- SearchBar2 -->
      <div class="container" *ngIf="switchBar">
        <div class="row">
          <div class="col-1"></div>
          <div class="col">
            <div
              class="input-group d-flex justify-content-center position-relative">
              <button
                class="btn btn-bymia rounded-start dropdown-toggle bg-secundary"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="bx bx-tada-hover bx-search"></i>
                <strong>&nbsp;Categorías&nbsp;</strong>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <h5 class="dropdown-header"><strong>Categorías</strong></h5>
                </li>
                <li><a class="dropdown-item" href="#">Todos</a></li>
                <li><a class="dropdown-item" href="#">Accesorios</a></li>
                <li><a class="dropdown-item" href="#">Laptops</a></li>
                <li><a class="dropdown-item" href="#">Celulares</a></li>
                <li><a class="dropdown-item" href="#">Audio</a></li>
                <li><a class="dropdown-item" href="#">Tablets</a></li>
                <li><a class="dropdown-item" href="#">Desktop</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <h5 class="dropdown-header"><strong>Marcas</strong></h5>
                </li>
                <li><a class="dropdown-item" href="#">Todas</a></li>
                <li><a class="dropdown-item" href="#">Asus</a></li>
                <li><a class="dropdown-item" href="#">Apple</a></li>
                <li><a class="dropdown-item" href="#">Hp</a></li>
                <li><a class="dropdown-item" href="#">Logitech</a></li>
                <li><a class="dropdown-item" href="#">msi</a></li>
                <li><a class="dropdown-item" href="#">Samsung</a></li>
                <li><hr class="dropdown-divider" /></li>

                <li><a class="dropdown-item" href="#">Ofertas</a></li>
                <li><a class="dropdown-item" href="#">Lanzamientos</a></li>
                <li><a class="dropdown-item" href="#">Flash Sales</a></li>
                <li><a class="dropdown-item" href="#">Destacados</a></li>
                <li><a class="dropdown-item" href="#">Más Vendidos</a></li>
              </ul>
              <input
                type="text"
                class="form-control rounded-end"
                aria-label="Text input with dropdown button"
                placeholder="Buscar..." />

              <span
                class="position-absolute top-50 end-0 translate-middle text-dark">
                <i
                  class="bx bx-tada-hover bx-sm bx-x-circle py-2"
                  (click)="toogleBarSearch()"></i>
              </span>
            </div>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
      <!-- SearchBar2 -->
      <ul class="navbar-nav m-auto mb-2 py-4" *ngIf="!switchBar">
        <div *ngFor="let link of linksHeader">
          <li
            class="nav-item mx-2"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
            routerLinkActive="active">
            <div *ngIf="link.reference === 'listPrice'; else elseLink">
              <a class="nav-link" (click)="toogleListPrice()"
                ><strong>{{ link.label }}</strong></a
              >
            </div>
            <ng-template #elseLink>
              <div>
                <a class="nav-link" [routerLink]="[link.links]"
                  ><strong>{{ link.label }}</strong></a
                >
              </div>
            </ng-template>
          </li>
        </div>
      </ul>
      <ul class="navbar-nav ms-auto me-5 mb-2 py-4">
        <li
          class="nav-item"
          data-bs-toggle="collapse"
          data-bs-target=".navbar-collapse.show"
          routerLinkActive="active"
          *ngFor="let icon of linksIcon">
          <div *ngIf="icon.reference === 'search'">
            <div class="nav-link position-relative" (click)="toogleBarSearch()">
              <i class="{{ icon.icon }}"> </i>
            </div>
          </div>
          <div *ngIf="icon.links === 'wish-list'">
            <a
              class="nav-link position-relative col-xl-12 col-1"
              [routerLink]="[icon.links]">
              <i class="{{ icon.icon }}"> </i>
              <span
                *ngIf="WishNotifications > 0"
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secundary"
                >{{ WishNotifications }}</span
              >
            </a>
          </div>
          <div *ngIf="icon.links === 'shop-cart'">
            <a
              class="nav-link position-relative col-xl-12 col-1"
              [routerLink]="[icon.links]">
              <i class="{{ icon.icon }}"> </i>
              <span
                *ngIf="CartNotifications > 0"
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secundary"
                >{{ CartNotifications }}</span
              >
            </a>
          </div>
          <div *ngIf="icon.links === 'login'">
            <button
              class="position-relative badge rounded-pill bg-secundary px-3 py-2 mx-4"
              [routerLink]="[icon.links]">
              <i class="{{ icon.icon }}"></i>
              Ingresar
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal Price list -->
<div
  class="container__modal animate__animated animate__zoomIn animate__faster"
  *ngIf="showListPrice">
  <div class="container__form container__form__pricelist">
    <img
      (click)="toogleListPrice()"
      src="../assets/img/icon_closed_black.png"
      alt="cerrar" />

    <div class="container__platform">
      <h1 class="platform__h1">
        Suscríbete al precio de lista y accede a cientos de ofertas
      </h1>
      <p class="platform__p">
        Te brindamos acceso a cientos de ofertas diarias a precios super
        convenientes en teléfonos móviles (celulares), computadoras portátiles,
        computadoras de escritorio, tablets, dispositivos de juego, consolas y
        muchos más, tanto nuevos como reacondicionados. Por favor ingresá tu
        correo electrónico para acceder a nuestra Lista de precios.
      </p>
    </div>

    <form action="">
      <input type="email" placeholder="Dirección de email" />
      <input type="email" placeholder="Confirmar dirección de email" />

      <button class="button_modal" (click)="openConfirm()">Suscribite</button>
    </form>

    <p class="condition__p">
      Al Entrar o Registrarte , aceptas las
      <a href=""><strong>Condiciones de servicio </strong> </a> y la
      <a href=""><strong>Política de privacidad</strong> </a>
    </p>
  </div>
</div>

<!-- Modal Confirm add newletter -->

<div
  class="container__modal animate__animated animate__zoomIn animate__faster"
  *ngIf="showConfirm">
  <div class="container__form">
    <img
      (click)="closeConfirm()"
      src="../assets/img/icon_closed_black.png"
      alt="cerrar" />

    <div class="container__platform">
      <p class="platform__p">Crear copy de gracias por suscribirte</p>
    </div>

    <!--  <div class="container__line">
            <hr>
            <img src="../assets/svg/elipse.svg" alt="elipse">
            <hr>
        </div>
        <form action="">
            <input type="email" placeholder="Dirección de email">

            <button class="button_modal">Suscribite</button>
        </form>

        <p class="condition__p">Al Entrar o Registrarte , aceptas las <a href=""><strong>Condiciones de servicio
                </strong> </a>
            y la <a href=""><strong>Política de privacidad</strong> </a> </p> -->
  </div>
</div>
