<header>
    <div class="header__container">
        <app-logo></app-logo>
        <app-navlink></app-navlink>
        
        <!-- <app-search></app-search> -->
        <div class="icon__container">

            <app-wishlist></app-wishlist>
            <app-shopcart></app-shopcart>
        </div>
        <div class="login__container">
            <img routerLink="/login" src="../assets/svg/icon_user.svg" alt="Ingresar"><span  routerLink="/login" >Ingresar</span> 
         
         </div>
        
    </div>
    
</header>



