<div class="container__modal animate__animated animate__zoomIn animate__faster" >
    <div class="container__form">
       <img  routerLink="/login"  src="../assets/img/icon_closed_black.png" alt="cerrar">
 
      
       <form action="">
          <label for="" class="forget__password__label" requiered>Ingresa tu email para recuperar tu contraseña</label>
          <input type="email"  placeholder="Dirección de email">
          
        </form>
        <button class="button_modal" (click)="openConfirmMail()">Enviar</button>
       
 
       
       <p class="condition__p">Al Entrar o Registrarte , aceptas las <a href=""><strong>Condiciones de servicio </strong> </a>
          y la <a href=""><strong>Política de privacidad</strong> </a>  </p>
    </div>
 </div>
 
 <!-- password recovery shipping confirmation -->
 
 <div class="container__modal animate__animated animate__zoomIn animate__faster" *ngIf="showConfirmMail">
    <div class="container__form">
       <img  routerLink="/" src="../assets/img/icon_closed_black.png" alt="cerrar">
 
      <h3 class="message__h3">
       Tu email fue enviado con exito
      </h3>
 
      <p class="message__p">
 
       Revisa tu casilla de email o en la carpeta de spam y encontraras el <strong>link</strong>  de restablecimiento de tu contraseña
      </p>
 
      <button class="button_modal button_modal__close" routerLink="/login">Cerrar</button>
 
       
    </div>
 </div>
