<div class="container mt-5">
  <div class="row" *ngIf="queryString != '' || filter != ''">
    <div class="col">
      <h3 class="d-flex align-items-center">
        Buscando&nbsp;
        <small class="text-muted">{{ filter }} {{ queryString }}</small>
      </h3>
    </div>
  </div>
  <div class="row" *ngIf="queryString != '' || filter != ''">
    <div class="col">
      <app-featured-products
        [title]="''"
        [category]="'search'"
        [featuredProducts]="searchProducts"></app-featured-products>
    </div>
  </div>
</div>
