<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active " aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" >
      <!-- Slider 1 -->
      <div class="carousel-item active slider_hero">
        <p > {{sliders[0].volanta}} </p>
        <h1>{{sliders[0].title}}</h1>
        <p class="subtitle">
          {{sliders[0].subtitle}}
          </p>
          <button>{{sliders[0].nameBtn}}</button>
      </div>
      <!-- Slider 2 -->
      <div class="carousel-item slider_hero">
        <p > {{sliders[1].volanta}} </p>
        <h1>{{sliders[1].title}}</h1>
        <p class="subtitle">
          {{sliders[1].subtitle}}
          </p>
          <button>{{sliders[1].nameBtn}}</button>
      </div>
      <!-- Slider 3 -->
      <div class="carousel-item slider_hero">
        <p > {{sliders[2].volanta}} </p>
        <h1>{{sliders[2].title}}</h1>
        <p class="subtitle">
          {{sliders[2].subtitle}}
          </p>
          <button>{{sliders[2].nameBtn}}</button>
      </div>
     <!--  <div class="carousel-item slider_hero">
        <p>Tenemos lo que buscás</p>
        <h1>Creá tu cuenta y comprá de manera rápida y segura.</h1>
        <p class="subtitle">Atención personalizada y envíos a más de 100 países. El mundo no tiene fronteras para conseguir lo que quieras.
          </p>
          <button>Registrate</button>
      </div>
      <div class="carousel-item slider_hero">
        <p>Conocenos más</p>
        <h1>Amplia experiencia en ventas y personal especializado.</h1>
        <p class="subtitle">Brindamos asesoramiento y los mejores productos a minoristas, mayoristas y público en general.
          </p>
          <button>Ver más</button>
      </div> -->
     
      <!-- <div class="carousel-item active slider_hero">
        <p>Tu E-commerce de Tecnología</p>
        <h1>Más de 10.000 artículos al mejor precio del mercado</h1>
        <p class="subtitle">Las marcas más reconocidas y los productos mejor valorados.
          Lanzamientos, ofertas, flash sales
          </p>
          <button>Contacto</button>
      </div>
      <div class="carousel-item slider_hero">
        <p>Tenemos lo que buscás</p>
        <h1>Creá tu cuenta y comprá de manera rápida y segura.</h1>
        <p class="subtitle">Atención personalizada y envíos a más de 100 países. El mundo no tiene fronteras para conseguir lo que quieras.
          </p>
          <button>Registrate</button>
      </div>
      <div class="carousel-item slider_hero">
        <p>Conocenos más</p>
        <h1>Amplia experiencia en ventas y personal especializado.</h1>
        <p class="subtitle">Brindamos asesoramiento y los mejores productos a minoristas, mayoristas y público en general.
          </p>
          <button>Ver más</button>
      </div> -->
    </div>
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->
  </div>