<div class="container mt-3">
  <div
    class="container col-11 p-3 p-md-5 container__bg container__bg-hg animate__animated animate__zoomIn">
    <!-- Header Cart -->
    <div
      class="row cart__header pt-3 pb-3 p-md-4 mb-2 d-flex justify-content-between align-items-center">
      <!--colum1  -->
      <div class="col">
        <h3 class="cart__h3 cart__h3-title">
          Estás a 3 pasos de finalizar tu compra
          <img src="../assets/svg/Icon_shopping_cart.svg" alt="favoritos" />
        </h3>
        <!-- <button
          class="cart__button cart__button-mobile"
          (click)="openConfirm()">
          Anular la seleccion de todos los elementos
        </button> -->
      </div>
      <!--colum2  -->
      <div class="col-7 d-flex justify-content-end align-items-center">
        <div class="me-1">
          <button class="cart__button cart__button-bg">Continuar</button>
        </div>
        <div class="d-flex flex-column align-content-center">
          <h3 class="cart__h3 cart__h3-ligth">Subtotal</h3>
          <p class="cart__p cart__p-bold">$81,784</p>
        </div>
      </div>
    </div>
    <!-- sales order step 1 -->
    <div class="row d-flex justify-content-between gap-3">
      <div class="col col-lg-8 bg-light rounded-3 p-4">
        <div class="text-center">
          <h3 class="text-dark sale__h3 pt-4">
            Seleccioná el tipo de envío de tu preferencia
          </h3>
          <p class="text-dark sale__p pb-3">
            Anteriormente seleccionaste Envíos internacionales
          </p>
        </div>
        <div class="d-flex flex-column gap-3 pb-4">
          <div class="bg-black rounded-4 pt-4 pb-4 pe-5 ps-5">
            <h3 class="sale__h3 sale__h3-ligth">Pickup - NO TIENE COSTO</h3>
            <p class="sale__p">
              Retiro de productos en el warehouse Bymia en Miami. Almacenamos
              sin costo tu compra durante TREINTA (30) días. La empresa de
              envíos internacionales está a cargo del cliente. Luego del envío,
              nuestro customer te solicitará el Certificado de Exportación.
            </p>
          </div>
          <div class="bg-black rounded-4 pt-4 pb-4 pe-5 ps-5">
            <h3 class="sale__h3 sale__h3-ligth">Envíos y retiros</h3>
            <p class="sale__p pt-1">
              1) Envíos internacionales (no abonan tax) -Retiro (Pickup) en el
              warehouse Bymia en Miami. Almacenamos sin costo tu compra durante
              TREINTA (30) días. La empresa de envíos internacionales está a
              cargo del cliente. Nuestro customer te solicitará el Certificado
              de Exportación.
            </p>
            <p class="sale__p pt-1">
              a) Destinos Argentina y República Dominicana: solo por MiaCargo.
              Tu envío será facturado y lo pagarás en destino. Desde tu panel
              podrás seguir su trayectoria con el número de tracking.
            </p>
            <p class="sale__p pt-1">
              b) Otros destinos -DHL: abonarán tu envío junto con tu compra y
              podrás seguir su trayectoria con el número de tracking desde tu
              panel de cliente.
            </p>
          </div>
          <div class="bg-black rounded-4 pt-4 pb-4 pe-5 ps-5">
            <h3 class="sale__h3 sale__h3-ligth">
              Envíos nacionales (abonan tax)
            </h3>
            <p class="sale__p pt-1">
              + Retiro (Pickup) en el warehouse Bymia en Miami. Almacenamos sin
              costo tu compra durante TREINTA (30) días. La empresa de envíos
              nacionales está a cargo del cliente.
            </p>
            <p class="sale__p pt-1">
              + Entregas a domicilio en Miami por USPS. Pagás el envío junto con
              tu factura de compra.
            </p>
            <p class="sale__p pt-1">
              + Entregas a domicilio en USA, menos Miami por DHL. Abonas tu
              envío junto con la compra y podrás seguir su trayectoria con el
              número de tracking asignado desde tu panel de cliente.
            </p>
          </div>
        </div>
      </div>
      <div class="col bg-light rounded-3 p-4">
        <div class="text-center">
          <h3 class="text-dark sale__h3 pt-4">Confirmación del Pedido:</h3>
        </div>
        <div class="pe-4 pt-2">
          <p class="sale__p sale__p-bold">Ítems:</p>
        </div>
        <div class="d-flex justify-content-between pe-4 pt-1">
          <div>
            <p class="sale__p text-dark">
              (x20 Unit) Drill Series 3 Brandix KSR459 0PQS 1500 gfdfgfdg
              grerydfd eythrese
            </p>
          </div>
          <div>
            <p class="sale__p text-dark">$40032</p>
          </div>
        </div>
        <div class="d-flex justify-content-between pe-4 pt-2">
          <div>
            <p class="sale__p text-dark">
              (x20 Unit) Drill Series 3 Brandix KSR459 0PQS 1500 gfdfgfdg
              grerydfd eythrese
            </p>
          </div>
          <div>
            <p class="sale__p text-dark">$40032</p>
          </div>
        </div>
        <div class="pe-4 pt-4">
          <div class="d-flex justify-content-between">
            <div>
              <p class="sale__p sale__p-bold text-dark">Productos (2):</p>
            </div>
            <div>
              <p class="sale__p text-dark">$80064</p>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <p class="sale__p sale__p-bold text-dark">Descuento producto:</p>
            </div>
            <div>
              <p class="sale__p text-dark">$640</p>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <p class="sale__p sale__p-bold text-dark">
                Descuento promocional producto:
              </p>
            </div>
            <div>
              <p class="sale__p text-dark">$140</p>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <p class="sale__p sale__p-bold text-dark">
                Descuento promocional envio:
              </p>
            </div>
            <div>
              <p class="sale__p text-dark">$100</p>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <p class="sale__p sale__p-bold text-dark">Tax:</p>
            </div>
            <div>
              <p class="sale__p text-dark">$840</p>
            </div>
          </div>
          <div class="mt-5">
            <h3 class="sale__h3 sale__h3-md text-dark text-center">Subtotal</h3>
            <p class="sale__p-bold sale__p-lg fw-bold text-dark text-center">
              US$81,784
            </p>
            <div class="d-flex justify-content-center">
              <button class="sale__btn text-center">Continuar</button>
            </div>
            <p class="sale__p sale__p-xs text-center text-dark mt-2 p-2">
              Al Entrar o Registrarte, aceptás los
              <strong>Términos y condiciones</strong> y la
              <strong>Política de privacidad</strong> , y el envío de mails con
              ofertas
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
