<div class="container mt-3">
  <div class="text-center text-bymia" *ngIf="loading">
    <i class="bx bx-md bx-loader-alt bx-spin"></i>
  </div>

  <div class="container col-11 p-3 p-md-5 container__bg container__bg-hg animate__animated animate__zoomIn"
    *ngIf="!loading">
    <!-- Header Cart -->
    <div class="header__order row cart__header pt-3 pb-3 p-md-4 mb-2 d-flex justify-content-between align-items-center">
      <!--colum1  -->
      <div class="col">
        <h3 class="cart__h3 cart__h3-title">
          Estás a 1 pasos de finalizar tu compra
          <img src="../assets/svg/Icon_shopping_cart.svg" alt="favoritos" />
        </h3>
      </div>
      <!--colum2  -->
      <div class="col-7 d-flex justify-content-end align-items-center">
        <div class="me-1">
          <button class="cart__button cart__button-bg" [ngClass]="{
              disabled:!continueOrder()
            }" [disabled]="
            !continueOrder()
            " (click)="getDataForm()">
            Finalizar orden
          </button>
        </div>
        <!--  <div class="d-flex flex-column align-content-center">
          <h3 class="cart__h3 cart__h3-ligth">Subtotal</h3>
          <p class="cart__p cart__p-bold">{{ total | currency : 'USD' }}</p>
        </div> -->
      </div>
    </div>
    <!-- sales order information -->
    <div class="row gap-2">
      <div class="col col-lg-8 text-dark m-0 p-0">
        <div class="sale__info d-flex gap-2 align-items-center p-lg-4 p-2 rounded-3">
          <i class="bx bxs-info-circle"></i>
          <p class="sale__p sale__p-bold mt-1 mb-1">
            Envío gratis a toda República Dominicana con MiaCargo
            <!--   Para pagos de hasta 2.500 dólares, podés utilizar tarjeta de
            crédito, PayPal o transferencia bancaria; para pagos superiores a
            2.500 dólares, solo se acepta transferencia bancaria. -->
          </p>
        </div>
        <div class="p-lg-4 p-2 mt-2 rounded-3 bg-light">
          <!-- Se oculta seccion de envío de tu preferencia -->
          <!-- <div>
            <h3 class="text-dark sale__h3 text-md-center pt-3">
              Seleccioná el tipo de envío de tu preferencia
            </h3>
          </div> -->
          <!-- <div>
            <div class="d-md-flex gap-1 mt-3">
              <div
                class="col col-md-6 form-check sale__bg-black rounded-3 d-flex align-items-center">
                <div
                  class="d-flex align-items-center gap-2 p-3 sale__input-radio">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="shipping"
                    id="internationalShipping"
                    (click)="selectRadio('internationalShipping')" />
                  <label
                    class="form-check-label text-light"
                    for="internationalShipping">
                    Envíos internacionales <br />Entrega a domicilio
                    <br />
                    <span class="sale__span">No incluye TAX</span>
                  </label>
                </div>
                <i class="bx bx-world sale__i ms-3 ms-md-4 ms-lg-5"></i>
              </div>
              <div
                class="col col-md-6 form-check sale__bg-black rounded-3 d-flex align-items-center">
                <div
                  class="d-flex align-items-center gap-2 p-3 sale__input-radio ms-3 ms-md-0 ms-lg-5">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="shipping"
                    id="nationalshipping"
                    (click)="selectRadio('nationalShipping')" />
                  <label
                    class="form-check-label text-light"
                    for="nationalshipping">
                    Envíos nacionales <br />Entrega a domicilio
                    <br />
                    <span class="sale__span">Incluye TAX</span>
                  </label>
                </div>
                <i class="bx bxs-flag-alt sale__i ms-4 ms-md-5 ms-lg-5"></i>
              </div>
            </div>
          </div> 
          <div class="col mt-2">
            <div class="col form-check sale__bg-black rounded-3">
              <div class="p-3 sale__input-radio">
                <input
                  class="form-check-input sale__mt mt-md-4"
                  type="radio"
                  name="shipping"
                  id="internationalPickup"
                  (click)="selectRadio('internationalPickup')" />
                <label
                  class="form-check-label text-light"
                  for="internationalPickup">
                  Pickup en el warehouse Bymia en Miami, para envíos
                  internacionales <br />
                  Empresa de envio a cargo del cliente <br />
                  <span class="sale__span">No incluye TAX</span>
                </label>
              </div>
            </div>
          </div>
          <div class="col mt-2">
            <div class="col form-check sale__bg-black rounded-3">
              <div class="p-3 sale__input-radio">
                <input
                  class="form-check-input sale__mt mt-md-4"
                  type="radio"
                  name="shipping"
                  id="nationalPickup"
                  (click)="selectRadio('nationalPickup')" />
                <label class="form-check-label text-light" for="nationalPickup">
                  Pickup en el warehouse Bymia en Miami, para envíos nacionales
                  <br />
                  Empresa de envio a cargo del cliente <br />
                  <span class="sale__span">Incluye TAX</span>
                </label>
              </div>
            </div>
          </div>-->
          <!-- Add billing data -->
          <div>
            <h3 class="text-dark sale__h3 text-center pt-3">
              Agregar datos de facturación
            </h3>
          </div>
          <!-- Form select shipping types -->
          <form class="mt-3 d-flex flex-column gap-2" [formGroup]="formBillData">
            <div class="d-md-flex gap-2">
              <input type="text" name="name" formControlName="name" placeholder="Nombre y apellido"
                class="form-control frm-register__input mb-2 mb-md-0" id="name" value="OKA" minlength="3" required
                aria-describedby="nameHelp" />
            </div>

            <div class="d-md-flex gap-2">
              <input type="text" name="identity_type" formControlName="identity_type"
                placeholder="Tipo de identificación" value="" class="form-control frm-register__input mb-2 mb-md-0"
                id="identity_type" minlength="3" required aria-describedby="identity_typeHelp" />
              <input type="text" name="identity_number" formControlName="identity_number"
                placeholder="Número de identificación" value="{{ billdata ? billdata.identity_number : '' }}"
                class="form-control frm-register__input" id="identity_number" minlength="3" required
                aria-describedby="identity_numberHelp" />
            </div>
            <div class="d-md-flex gap-2">
              <select class="form-select mb-2 mb-md-0" name="" formControlName="country_id" id="country_name">
                <option value="" disabled>Seleciona el país</option>
                <option [value]="62">República Dominicana</option>
              </select>
            </div>
            <div class="d-md-flex gap-2">
              <select class="form-select mb-2 mb-md-0" id="state_name" formControlName="state_id"
                (change)="changeState(formBillData.get('state_id')?.value)">
                <option value="" disabled>Seleciona el estado</option>
                <option [value]="state.id" *ngFor="let state of state_code">
                  {{ state.name }}
                </option>
              </select>

              <select class="form-select" name="" id="city_name" formControlName="city_id">
                <option value="" disabled>Seleciona la ciudad</option>
                <option [value]="city.id" *ngFor="let city of city_code">
                  {{ city.name }}
                </option>
              </select>
            </div>
            <div>
              <input type="text" name="address" formControlName="address"
                placeholder="Dirección (incluye calle, altura y piso, de ser necesario)"
                class="form-control frm-register__input" id="address" value="" minlength="3" required
                aria-describedby="addressHelp" />
            </div>
            <div class="d-md-flex gap-2">
              <input type="text" name="code_zip" formControlName="code_zip" placeholder="Código postal " value=""
                class="form-control frm-register__input" id="code_zip" minlength="3" required
                aria-describedby="code_zipHelp" />
              <input type="text" name="phone" formControlName="phone" placeholder="Teléfono: +x (xxx) xxx-xxxx "
                class="form-control frm-register__input" id="phone" value="{{ billdata ? billdata.phone : '' }}"
                minlength="3" required aria-describedby="phoneHelp" />
            </div>
            <div>
              <input type="email" name="email" formControlName="email" placeholder="E-mail"
                class="form-control frm-register__input" id="email" minlength="3" value="" required
                aria-describedby="emailHelp" />
            </div>
            <div>
              <input type="text" name="additional_info" formControlName="additional_info"
                placeholder="Información adicional (ej, entre calle y calle)" class="form-control frm-register__input"
                id="additional_info" value="" minlength="3" aria-describedby="additional_infoHelp" />
            </div>
            <div *ngIf="bill_address_id">
              <button class="cart__button cart__button-bg" (click)="changeBillingData()">
                Cambiar datos de facturación
              </button>
            </div>
            <!-- Mensajes de error de validaciones -->
            <!-- Campo Nombre -->
            <div *ngIf="
                formBillData.get('name')?.invalid &&
                (formBillData.get('name')?.dirty ||
                  formBillData.get('name')?.touched)
              " class="form-text text-danger">
              {{ errorResponse.name }}
            </div>
            <!-- Campo tipo de identificación -->
            <div *ngIf="
                formBillData.get('identity_type')?.invalid &&
                (formBillData.get('identity_type')?.dirty ||
                  formBillData.get('identity_type')?.touched)
              " class="form-text text-danger">
              {{ errorResponse.identity_type }}
            </div>
            <!-- Campo número de identificación -->
            <div *ngIf="
                formBillData.get('identity_number')?.invalid &&
                (formBillData.get('identity_number')?.dirty ||
                  formBillData.get('identity_number')?.touched)
              " class="form-text text-danger">
              {{ errorResponse.identity_number }}
            </div>
            <!-- Campo país -->
            <div *ngIf="
                formBillData.get('country_id')?.invalid &&
                (formBillData.get('country_id')?.dirty ||
                  formBillData.get('country_id')?.touched)
              " class="form-text text-danger">
              {{ errorResponse.country_id }}
            </div>
            <!-- Campo estado -->
            <div *ngIf="
                formBillData.get('state_id')?.invalid &&
                (formBillData.get('state_id')?.dirty ||
                  formBillData.get('state_id')?.touched)
              " class="form-text text-danger">
              {{ errorResponse.state_id }}
            </div>
            <!-- Campo Dirección -->
            <div *ngIf="
                formBillData.get('address')?.invalid &&
                (formBillData.get('address')?.dirty ||
                  formBillData.get('address')?.touched)
              " class="form-text text-danger">
              {{ errorResponse.address }}
            </div>
            <!-- Campo Código Postal -->
            <div *ngIf="
                formBillData.get('code_zip')?.invalid &&
                (formBillData.get('code_zip')?.dirty ||
                  formBillData.get('code_zip')?.touched)
              " class="form-text text-danger">
              {{ errorResponse.code_zip }}
            </div>
            <!-- Campo Teléfono -->
            <div *ngIf="
                formBillData.get('phone')?.invalid &&
                (formBillData.get('phone')?.dirty ||
                  formBillData.get('phone')?.touched)
              " class="form-text text-danger">
              {{ errorResponse.phone }}
            </div>
            <!-- Campo Email -->
            <div *ngIf="
                formBillData.get('email')?.invalid &&
                (formBillData.get('email')?.dirty ||
                  formBillData.get('email')?.touched)
              " class="form-text text-danger">
              {{ errorResponse.email }}
            </div>
          </form>
          <!--Add Pickup Data  -->
          <div class="mt-5 mt-2" *ngIf="pickupData">
            <h3 class="text-dark sale__h3">Agregar datos de Pickup</h3>
          </div>
          <!-- Form pickup -->
          <form class="mt-3 d-flex flex-column gap-2" action="" *ngIf="pickupData">
            <div class="d-md-flex gap-2">
              <input type="text" name="name" placeholder="Nombre y apellido"
                class="form-control frm-register__input mb-2 mb-md-0" id="name" minlength="3" required
                aria-describedby="nameHelp" />

              <input type="text" name="name" placeholder="Razón social -Pickup" class="form-control frm-register__input"
                id="name" minlength="3" required aria-describedby="nameHelp" />
            </div>

            <div class="d-md-flex gap-2">
              <input type="text" name="type-id" placeholder="Tipo de identificación"
                class="form-control frm-register__input mb-2 mb-md-0" id="type-id" minlength="3" required
                aria-describedby="nameHelp" />
              <input type="text" name="name" placeholder="Número de identificación "
                class="form-control frm-register__input" id="name" minlength="3" required aria-describedby="nameHelp" />
            </div>

            <div class="d-md-flex gap-2">
              <input type="email" name="name" placeholder="E-mail" class="form-control frm-register__input mb-2 mb-md-0"
                id="name" minlength="3" required aria-describedby="nameHelp" />
              <input type="text" name="name" placeholder="Teléfono: +x (xxx) xxx-xxxx "
                class="form-control frm-register__input" id="name" minlength="3" required aria-describedby="nameHelp" />
            </div>
          </form>

          <hr>
          <!-- Add recipient data -->
          <div class="d-md-flex gap-2 my-3">
            <h3 class="text-dark sale__h3">Destinatario</h3>
          </div>
          <div class="d-md-flex gap-2 my-3">
            <select [formControl]="recipesAddressSelect" id="recipesAddressSelect" name="recipesAddressSelect"
              class="form-select mb-2 mb-md-0" aria-label="Selecciona una Opción" (change)="changeRecipe(recipesAddressSelect.value)">
              <option value="0" [selected]="recipesAddressSelect.value === '0'">Igual datos de facturación</option>
              <option [ngValue]="recipes" *ngFor="let recipes of order.recipient_address">
                {{ recipes.name }}
              </option>
              <option [ngValue]="null">Nuevo destinatario</option>
            </select>
          </div>

          <hr>

          <!-- Form select recipient -->
          <!-- <div class="d-flex flex-column mt-3 gap-2">
            <div
              class="sale__bg-black p-3 rounded-3 d-flex flex-column gap-1"
              *ngFor="let recipient of recipients">
              <form action="" class="d-flex sale__input-radio">
                <input
                  type="radio"
                  name=""
                  class="me-2 form-check-input"
                  id="" />
                <div>
                  <p class="sale__p text-light">
                    {{ recipient.recipient_name }}
                  </p>
                  <p class="sale__p text-light">
                    {{ recipient.country_name }}, {{ recipient.state_name }},
                    {{ recipient.city_name }}, {{ recipient.address }},{{
                      recipient.recipient_phone
                    }}
                  </p>
                </div>
              </form>
            </div>
          </div> -->
          <!--  <div class="mt-4 d-flex justify-content-between align-items-center">
            <div>
              <div>
                <button class="cart__button cart__button-bg">
                  Agregá un nuevo destinatario
                </button>
              </div>
            </div>
          </div> -->
          <!-- Form  new Destinatario -->
          <form class="mt-3 d-flex flex-column gap-2" [formGroup]="formRecipient" *ngIf="showFormRecipient">
            <div class="d-md-flex gap-2" *ngIf="recipesAddressSelect.value === null">
              <input type="text" name="name" formControlName="name" placeholder="Nombre y apellido"
                class="form-control frm-register__input mb-2 mb-md-0" id="name" value="" minlength="3" required
                aria-describedby="nameHelp" />
            </div>
            <div class="d-md-flex gap-2">
              <input type="text" name="identity_type" formControlName="identity_type"
                placeholder="Tipo de identificación" value="" class="form-control frm-register__input mb-2 mb-md-0"
                id="identity_type" minlength="3" required aria-describedby="identity_typeHelp" />
              <input type="text" name="identity_number" formControlName="identity_number"
                placeholder="Número de identificación" value="{{ billdata ? billdata.identity_number : '' }}"
                class="form-control frm-register__input" id="identity_number" minlength="3" required
                aria-describedby="identity_numberHelp" />
            </div>
            <div class="d-md-flex gap-2">
              <select class="form-select mb-2 mb-md-0" name="" formControlName="country_id" id="country_name">
                <option value="" disabled>Seleciona el país</option>
                <option value="62" selected>República Dominicana</option>
              </select>
            </div>
            <div class="d-md-flex gap-2">
              <select class="form-select mb-2 mb-md-0" id="state_name" formControlName="state_id" (change)="
                  changeStateRecipient(formRecipient.get('state_id')?.value)
                ">
                <option value="" disabled>Seleciona el estado</option>
                <option [value]="state.id" *ngFor="let state of state_code">
                  {{ state.name }}
                </option>
              </select>
              <select class="form-select" name="" id="city_name" formControlName="city_id">
                <option value="" disabled>Seleciona la ciudad</option>
                <option [value]="city.id" selected *ngFor="let city of city_code_Recipient">
                  {{ city.name }}
                </option>
              </select>
            </div>
            <div>
              <input type="text" name="address" formControlName="address"
                placeholder="Dirección (incluye calle, altura y piso, de ser necesario)"
                class="form-control frm-register__input" id="address" value="" minlength="3" required
                aria-describedby="addressHelp" />
            </div>
            <div class="d-md-flex gap-2">
              <input type="text" name="code_zip" formControlName="code_zip" placeholder="Código postal " value=""
                class="form-control frm-register__input" id="code_zip" minlength="3" required
                aria-describedby="code_zipHelp" />
              <input type="text" name="phone" formControlName="phone" placeholder="Teléfono: +x (xxx) xxx-xxxx "
                class="form-control frm-register__input" id="phone" value="{{ billdata ? billdata.phone : '' }}"
                minlength="3" required aria-describedby="phoneHelp" />
            </div>
            <div>
              <input type="email" name="email" formControlName="email" placeholder="E-mail"
                class="form-control frm-register__input" id="email" minlength="3" value="" required
                aria-describedby="emailHelp" />
            </div>
            <div>
              <input type="text" name="additional_info" formControlName="additional_info"
                placeholder="Información adicional (ej, entre calle y calle)" class="form-control frm-register__input"
                id="additional_info" value="" minlength="3" aria-describedby="additional_infoHelp" />
            </div>
            <!-- Mensajes de error de validaciones -->
            <!-- Campo Nombre -->
            <div *ngIf="
                formRecipient.get('name')?.invalid &&
                (formRecipient.get('name')?.dirty ||
                  formRecipient.get('name')?.touched)
              " class="form-text text-danger">
              {{ errorResponse.name }}
            </div>
            <!-- Campo tipo de identificación -->
            <div *ngIf="
                formRecipient.get('identity_type')?.invalid &&
                (formRecipient.get('identity_type')?.dirty ||
                  formRecipient.get('identity_type')?.touched)
              " class="form-text text-danger">
              {{ errorResponse.identity_type }}
            </div>
            <!-- Campo número de identificación -->
            <div *ngIf="
                formRecipient.get('identity_number')?.invalid &&
                (formRecipient.get('identity_number')?.dirty ||
                  formRecipient.get('identity_number')?.touched)
              " class="form-text text-danger">
              {{ errorResponse.identity_number }}
            </div>
            <!-- Campo país -->
            <div *ngIf="
                formRecipient.get('country_id')?.invalid &&
                (formRecipient.get('country_id')?.dirty ||
                  formRecipient.get('country_id')?.touched)
              " class="form-text text-danger">
              {{ errorResponse.country_id }}
            </div>
            <!-- Campo estado -->
            <div *ngIf="
                formRecipient.get('state_id')?.invalid &&
                (formRecipient.get('state_id')?.dirty ||
                  formRecipient.get('state_id')?.touched)
              " class="form-text text-danger">
              {{ errorResponse.state_id }}
            </div>
            <!-- Campo Dirección -->
            <div *ngIf="
                formRecipient.get('address')?.invalid &&
                (formRecipient.get('address')?.dirty ||
                  formRecipient.get('address')?.touched)
              " class="form-text text-danger">
              {{ errorResponse.address }}
            </div>
            <!-- Campo Código Postal -->
            <div *ngIf="
                formRecipient.get('code_zip')?.invalid &&
                (formRecipient.get('code_zip')?.dirty ||
                  formRecipient.get('code_zip')?.touched)
              " class="form-text text-danger">
              {{ errorResponse.code_zip }}
            </div>
            <!-- Campo Teléfono -->
            <div *ngIf="
                formRecipient.get('phone')?.invalid &&
                (formRecipient.get('phone')?.dirty ||
                  formRecipient.get('phone')?.touched)
              " class="form-text text-danger">
              {{ errorResponse.phone }}
            </div>
            <!-- Campo Email -->
            <div *ngIf="
                formRecipient.get('email')?.invalid &&
                (formRecipient.get('email')?.dirty ||
                  formRecipient.get('email')?.touched)
              " class="form-text text-danger">
              {{ errorResponse.email }}
            </div>
          </form>
          <!-- <form class="mt-3 d-flex flex-column gap-2" action="">
            <div class="d-md-flex gap-2">
              <input
                type="text"
                name="name"
                placeholder="Nombre y apellido"
                class="form-control frm-register__input mb-2 mb-md-0"
                id="name"
                minlength="3"
                required
                aria-describedby="nameHelp" />
            </div>

            <div class="d-md-flex gap-2">
              <input
                type="text"
                name="type-id"
                placeholder="Tipo de identificación"
                class="form-control frm-register__input mb-2 mb-md-0"
                id="type-id"
                minlength="3"
                required
                aria-describedby="nameHelp" />
              <input
                type="text"
                name="name"
                placeholder="Número de identificación "
                class="form-control frm-register__input"
                id="name"
                minlength="3"
                required
                aria-describedby="nameHelp" />
            </div>
            <div>
              <select class="form-select" name="" id="">
                <option value="">País</option>
                <option value="">Argentina</option>
                <option value="">Estados unidos</option>
              </select>
            </div>
            <div class="d-md-flex gap-2">
              <select class="form-select mb-2 mb-md-0" name="" id="">
                <option value="">Estado o provincia</option>
                <option value="">CABA</option>
                <option value="">Buenos Aires</option>
              </select>
              <select class="form-select" name="" id="">
                <option value="">Ciudad</option>
                <option value="">CABA</option>
                <option value="">Buenos Aires</option>
              </select>
            </div>
            <div>
              <input
                type="text"
                name="name"
                placeholder="Dirección (incluye calle, altura y piso, de ser necesario)"
                class="form-control frm-register__input"
                id="name"
                minlength="3"
                required
                aria-describedby="nameHelp" />
            </div>
            <div class="d-md-flex gap-2">
              <input
                type="text"
                name="name"
                placeholder="Código postal"
                class="form-control frm-register__input"
                id="name"
                minlength="3"
                required
                aria-describedby="nameHelp" />
              <input
                type="text"
                name="name"
                placeholder="Teléfono: +x (xxx) xxx-xxxx "
                class="form-control frm-register__input"
                id="name"
                minlength="3"
                required
                aria-describedby="nameHelp" />
            </div>
            <div>
              <input
                type="mail"
                name="name"
                placeholder="E-mail"
                class="form-control frm-register__input"
                id="name"
                minlength="3"
                required
                aria-describedby="nameHelp" />
            </div>
            <div>
              <input
                type="text"
                name="name"
                placeholder="Información adicional (ej, entre calle y calle)"
                class="form-control frm-register__input"
                id="name"
                minlength="3"
                required
                aria-describedby="nameHelp" />
            </div>
            <div class="text-center">
              <button class="cart__button cart__button-bg">Agregar</button>
            </div>
          </form> -->
        </div>
      </div>

      <!-- Step confimation -->
      <div class="col bg-light rounded-3 p-4 h-100" *ngIf="order.detail">
        <div class="text-center">
          <h3 class="text-dark sale__h3 pt-4">Confirmación del Pedido:</h3>
        </div>
        <div class="pe-4 pt-2">
          <p class="sale__p sale__p-bold">Ítems:</p>
        </div>
        <div>
          <div class="d-flex justify-content-between pe-4 pt-1 gap-1" *ngFor="let item of order.detail.items">
            <div>
              <p class="sale__p text-dark">
                {{ item.quantity }} {{ item.name }}
              </p>
            </div>
            <div>
              <p class="sale__p text-dark">
                {{ item.price | currency : 'USD' }}
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="d-flex justify-content-between pe-4 pt-2 gap-1">
          <div>
            <p class="sale__p text-dark">
              (x20 Unit) Drill Series 3 Brandix KSR459 0PQS 1500
            </p>
          </div>
          <div>
            <p class="sale__p text-dark">$40032</p>
          </div>
        </div>-->
        <div class="mt-4">
          <h3 class="sale__h3 text-center text-dark">Código promocional</h3>
        </div>
        <div class="d-flex">
          <div class="col-1"></div>
          <form class="col col-lg-10" action="">
            <input type="text" name="name" class="form-control text-center mt-2" id="name" minlength="3" required
              aria-describedby="nameHelp" />
            <!-- <input
              type="text"
              name="name"
              placeholder="Código Promocional Envío"
              class="form-control text-center mt-2"
              id="name"
              minlength="3"
              required
              aria-describedby="nameHelp" /> -->
            <div class="text-center mt-2">
              <button class="cart__button cart__button-bg-black">
                Agregar
              </button>
            </div>
          </form>
          <div class="col-1"></div>
        </div>
        <div class="pe-4 pt-4">
          <div class="d-flex justify-content-between">
            <div>
              <p class="sale__p sale__p-bold text-dark">
                Productos ({{ order.detail.products.total }}):
              </p>
            </div>
            <div>
              <p class="sale__p text-dark">
                {{ order.detail.products.totalPrice | currency : 'USD' }}
              </p>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <p class="sale__p sale__p-bold text-dark">Descuento producto:</p>
            </div>
            <div>
              <p class="sale__p text-dark">
                $ {{ order.detail.productDiscount | currency : 'USD' }}
              </p>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <p class="sale__p sale__p-bold text-dark">
                Descuento promocional:
              </p>
            </div>
            <div>
              <p class="sale__p text-dark">
                $ {{ order.detail.promocionalDiscount | currency : 'USD' }}
              </p>
            </div>
          </div>
          <!-- <div class="d-flex justify-content-between">
            <div>
              <p class="sale__p sale__p-bold text-dark">
                Descuento promocional envio:
              </p>
            </div>
            <div>
              <p class="sale__p text-dark">$100</p>
            </div>
          </div> -->
          <div class="d-flex justify-content-between">
            <div>
              <p class="sale__p sale__p-bold text-dark">Tax:</p>
            </div>
            <div>
              <p class="sale__p text-dark">
                {{ order.detail.tax | currency : 'USD' }}
              </p>
            </div>
          </div>
          <div class="mt-5">
            <h3 class="sale__h3 sale__h3-md text-dark text-center">Total</h3>
            <p class="sale__p-bold sale__p-lg fw-bold text-dark text-center">
              {{ order.detail.totalOrderPrice | currency : 'USD' }}
            </p>
            <div class="d-flex justify-content-center">
              <button class="sale__btn text-center" [ngClass]="{
                  disabled:!continueOrder()
                }" [disabled]="!continueOrder()" (click)="getDataForm()">
                Finalizar orden
              </button>
            </div>
            <p class="sale__p sale__p-xs text-center text-dark mt-2 p-2">
              Al Entrar o Registrarte, aceptás los
              <strong class="cursor__pointer btn-deshabilitado" routerLink="/politicas-privacidad-y-servcios">Términos y
                condiciones</strong>
              y la
              <strong class="cursor__pointer btn-deshabilitado" routerLink="/politicas-privacidad-y-servcios">Política
                de privacidad</strong>
              , y el envío de mails con ofertas,además de la
              <strong>Política de garantía y RMA,</strong> que podés conocer
              <strong class="cursor__pointer btn-deshabilitado" routerLink="/politicas-rma-y-garantia">aquí.</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Popup -->
<div class="container__modal-order animate__animated animate__zoomIn animate__faster ps-2 ps-md-0 pe-2 pe-md-0"
  *ngIf="open">
  <div class="container bg-white rounded-3 justify-content-center container-order">
    <div class="row mb-3 mt-3">
      <div class="col">
        <img class="frm-register__img float-end me-2" src="../assets/img/icon_closed_black.png" alt="cerrar" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3 class="text-center h3__popup">
          Anteriormente seleccionaste {{ Popup[0].selection }}
        </h3>
      </div>
    </div>
    <div class="row m-2 m-md-3">
      <div class="col bg-dark rounded-3 p-3 mb-3">
        <h5 class="h5__popup">{{ Popup[0].title }}</h5>
        <p class="p__popup text-light">{{ Popup[0].description }}</p>
      </div>
    </div>
  </div>
</div>