<!-- Modal Price list -->

<div
  class="container__modal animate__animated animate__zoomIn animate__faster"
  *ngIf="showListPrice">
  <div
    class="container bg-white rounded-3 justify-content-center frm-register container__price">
    <div class="row mb-3 mt-3">
      <div class="col">
        <img
          class="frm-register__img float-end"
          routerLink="/"
          src="../assets/img/icon_closed_black.png"
          alt="cerrar" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="text-black text-center fw-bold p-3 pricelist__h1">
          Suscribite al Precio de lista y accede a cientos de ofertas
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="text-dark text-center ps-3 pe-3">
          Por favor ingresá tu correo electrónico para acceder a nuestra Lista
          de precios.
        </p>
      </div>
    </div>

    <form
      class="frm-register__form row g-3 p-3 pb-4"
      [formGroup]="priceListform"
      (ngSubmit)="sendPriceList()">
      <div class="col-12 frm-register__input">
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="Dirección de email" />
        <div
          class="alert alert-danger p-1 mt-1 text-dark"
          role="alert"
          *ngIf="validateEmailRequired()">
          <i class="bx bx-error frm-register__i"></i>
          El email es requerido.
        </div>
        <div
          class="alert alert-danger p-1 mt-1 text-dark"
          role="alert"
          *ngIf="validateEmailFormat()">
          <i class="bx bx-error frm-register__i"></i>Formato de email no es
          valido.
        </div>

        <div
          class="alert alert-danger p-1 mt-1 text-dark"
          role="alert"
          *ngIf="validateemailMinLength()">
          <i class="bx bx-error frm-register__i"></i>
          El Email debe tener minimo
          {{priceListform.get('email')?.errors?.['minlength'].requiredLength}}
          caracteres.
        </div>
      </div>
      <div class="col-12 frm-register__input">
        <input
          type="email"
          class="form-control"
          formControlName="confirmEmail"
          placeholder="Confirmar dirección de email" />
        <div
          class="alert alert-danger p-1 mt-1 text-dark"
          role="alert"
          *ngIf="validateConfirmEmailRequired()">
          <i class="bx bx-error frm-register__i"></i>
          El email es requerido.
        </div>
        <div
          class="alert alert-danger p-1 mt-1 text-dark"
          role="alert"
          *ngIf="validateConfirmEmailFormat()">
          <i class="bx bx-error frm-register__i"></i>Formato de email no es
          valido.
        </div>

        <div
          class="alert alert-danger p-1 mt-1 text-dark"
          role="alert"
          *ngIf="validateConfirmEmailMinLength()">
          <i class="bx bx-error frm-register__i"></i>
          El Email debe tener minimo
          {{priceListform.get('email')?.errors?.['minlength'].requiredLength}}
          caracteres.
        </div>
        <div
          class="alert alert-danger p-1 mt-1 text-dark"
          role="alert"
          *ngIf="validateEqual()">
          <i class="bx bx-error frm-register__i"></i>
          Los campos de email deben ser iguales.
        </div>
      </div>

      <div class="col-12">
        <button
          type="submit"
          class="button_modal col-12"
          [disabled]="priceListform.invalid">
          Suscribite
        </button>
      </div>
      <div class="col-12">
        <div>
          <p class="condition__p text-center">
            Al suscribirte,
            <strong
              class="cursor__pointer"
              routerLink="/politicas-privacidad-y-servcios">
              aceptás los Términos y Condiciones y la Política de
              privacidad.</strong
            >
          </p>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- confirmation of mailing of list price -->

<div
  class="container__modal animate__animated animate__zoomIn animate__faster"
  *ngIf="confirmRequest">
  <div class="container bg-white rounded-3 justify-content-center frm-register">
    <div class="row mb-3 mt-4">
      <div class="col">
        <img
          class="frm-register__img float-end"
          routerLink="/"
          src="../assets/img/icon_closed_black.png"
          alt="cerrar" />
      </div>
    </div>

    <div class="row">
      <div class="col text-center ps-5 pe-5">
        <p class="text-dark fw-bold">
          Hemos recibido tu solicitud: Un representante de atención al cliente
          te contactará a la brevedad.
        </p>
      </div>
    </div>
    <div class="row pb-4">
      <div class="col text-center">
        <i
          class="bx bxs-check-circle bx-tada-hover modal__i text-center"
          width="160px"></i>
      </div>
    </div>
  </div>
</div>
