<div class="container d-flex justify-content-center">
  <div class="container__pbg col col-lg-10 mt-2">
    <div class="row">
      <div class="col">
        <h3 class="politic__h3 text-center mt-3 mt-lg-5">
          Términos y Condiciones
        </h3>
      </div>
    </div>
    <div class="row d-flex flex-column align-content-center">
      <div class="col col-lg-8 mt-3">
        <p class="politic__p__i">Generalidades</p>
        <p class="politic__p">
          Objetivo: Establecer los términos y condiciones que se publicarán en
          bymiashop.com para mantener el estándar de transparencia frente al
          cliente.
        </p>
        <p class="politic__p__i">Políticas de compra</p>
        <p class="politic__p">
          Por medio de la citada página web se reciben intenciones de compra.
          Una vez verificada la existencia de los productos en nuestro
          inventario se procesará la orden de compra. El envío se realizará una
          vez que el pago haya sido verificado.
        </p>
        <p class="politic__p">
          Bymiashop.com se reserva el derecho de rechazar cualquier pedido o de
          restringir las cantidades de cualquier pedido sin explicar los
          motivos. Es factible reembolsar, modificar o cancelar un pedido en
          caso de no poder completarlo.<br />
          Se le dejará saber al cliente el motivo y solución dentro de un plazo
          de 24 horas laborales después de haber realizado el pedido.<br />
          En caso de que el cliente no esté de acuerdo con la solución
          propuesta, se procederá con el reembolso total del pedido.<br />
          Cada transacción se realizará en moneda local (pesos dominicanos).
        </p>
        <p class="politic__p__i">Métodos de pago</p>
        <p class="politic__p">
          Las formas de pago autorizadas desde la página web son las siguientes:
          pago electrónico, tarjeta de crédito o débito, transferencia bancaria.
        </p>
        <p class="politic__p__i">Disponibilidad de productos</p>
        <p class="politic__p">
          Se tiene existencia limitada de los productos que aparecen en la
          página web. Todo producto que no se encuentre en existencia no
          figurará en la web.
        </p>
        <p class="politic__p__i">Privacidad y seguridad</p>
        <p class="politic__p">
          Toda la información que provee el cliente al momento de registrarse o
          realizar una compra será tratada con absoluta confidencialidad y
          privacidad.
        </p>
        <p class="politic__p">
          Bymiashop se limita a resguardar la siguiente información del cliente:
        </p>
        <p class="politic__p">
          Información personal: su nombre, dirección física, número de teléfono
          y dirección de e-mail.
        </p>
        <p class="politic__p">
          Información no personalizada identificable: dirección IP, tipo de
          navegador, nombre de dominio, y paginaciones específicas de la página
          de Bymiashop.com se recopilan para ganar una comprensión mejor de las
          necesidades del desarrollo del sitio.
        </p>
      </div>
    </div>
  </div>
</div>
