<div class="container d-flex justify-content-center">
  <div class="container__pbg col col-lg-10 mt-2">
    <div class="row">
      <div class="col">
        <h3 class="politic__h3 text-center mt-3 mt-lg-5">
          Términos y Condiciones
        </h3>
      </div>
    </div>
    <div class="row d-flex flex-column align-content-center">
      <div class="col col-lg-8 mt-3">
        <p class="politic__p">
          MiaCargo presa un servicio de Courier internacional, que genera, para
          cada uno de sus usuarios una cuenta que provee, entre otras
          herramientas, una dirección física y permanente en los Estados Unidos
          o China la cual es utilizada por los usuarios como la dirección adonde
          dirigen sus compras. Esta es 7953/55 NW 64th Street Miami FL, 33166,
          Estados Unidos. En el domicilio indicado MiaCargo se encarga de
          recibir sus compras en Estados Unidos o China y, además, enviarlas a
          su país de destino, atendiendo todo el proceso de nacionalización y
          entrega en su casa u oficina.
        </p>
        <p class="politic__p">
          <strong>El Sitio </strong>
        </p>
        <ul>
          <li>
            El acceso y utilización del sitio web www.miacargo.com.ar (el
            “Sitio”) se regirá por los Términos y Condiciones (los “Términos y
            Condiciones”) que aquí se detallan. Será obligación y
            responsabilidad de cualquier persona que desee acceder y/o utilizar
            el Sitio y/o los servicios (el “Usuario” o en plural los
            “Usuarios”), leer atentamente los Términos y Condiciones, puesto que
            su utilización presumirá el conocimiento y la aceptación previa de
            estos Términos y Condiciones.
          </li>
          <li>
            Cualquier persona que no acepte estos Términos y Condiciones, los
            cuales tienen carácter obligatorio y vinculante, deberá abstenerse
            de utilizar el Sitio y/o los servicios.
          </li>
          <li>
            Queda prohibido violar o intentar violar la seguridad del Sitio,
            incluyendo sin limitar: (i) acceder o intentar acceder a datos no
            provistos para el Usuario; (ii) disponer, administrar y/o
            suministrar cualquier comando que afecte la vulnerabilidad del
            sistema, red o medidas de seguridad; e (iii) intentar interferir o
            modificar de cualquier modo los servicios o contenidos provistos en
            el Sitio.
          </li>
          <li>
            El Sitio incorpora hipervínculos a otros sitios web. Estos
            hipervínculos son provistos únicamente con la finalidad de facilitar
            al Usuario el acceso a esos sitios web. En ningún caso se entenderá
            que son patrocinados por MiaCargo ni que MiaCargo sea responsable
            por el contenido de esos sitios. El acceso a tales sitios web será
            de responsabilidad y bajo riesgo exclusivo del Usuario.
          </li>
          <li>
            Como condición esencial para acceder y/o utilizar el Sitio, el
            Usuario se obliga a: (i) proveer información verdadera, correcta,
            actual y completa acerca de su persona, del modo en que le sea
            requerido en los formularios dispuestos a ese efecto; (ii)
            actualizar y mantener actualizados los datos aportados a fin de que
            MiaCargo los conserve veraces, correctos, actuales y completos. En
            caso de que se produjese el suministro de datos o informaciones
            falsas, inexactas, desactualizadas o incompletas, o si MiaCargo
            tuviera bases medianamente para sospechar que los datos o
            informaciones aportadas por el Usuario fueran falsas, inexactas,
            desactualizadas o incompletas, MiaCargo podrá suspender o impedir al
            Usuario el acceso al Sitio, y negarle el acceso y uso presente o
            futuro de los contenidos o servicios provistos en el Sitio.
          </li>
        </ul>
        <p class="politic__p">
          <strong>Condiciones de utilización del Servicio</strong>
        </p>

        <ul>
          <li>
            El acceso y utilización del sitio web www.miacargo.com.ar (el
            “Sitio”) se regirá por los Términos y Condiciones (los “Términos y
            Condiciones”) que aquí se detallan. Será obligación y
            responsabilidad de cualquier persona que desee acceder y/o utilizar
            el Sitio y/o los servicios (el “Usuario” o en plural los
            “Usuarios”), leer atentamente los Términos y Condiciones, puesto que
            su utilización presumirá el conocimiento y la aceptación previa de
            estos Términos y Condiciones.
          </li>
          <li>
            Cualquier persona que no acepte estos Términos y Condiciones, los
            cuales tienen carácter obligatorio y vinculante, deberá abstenerse
            de utilizar el Sitio y/o los servicios.
          </li>
          <li>
            Queda prohibido violar o intentar violar la seguridad del Sitio,
            incluyendo sin limitar: (i) acceder o intentar acceder a datos no
            provistos para el Usuario; (ii) disponer, administrar y/o
            suministrar cualquier comando que afecte la vulnerabilidad del
            sistema, red o medidas de seguridad; e (iii) intentar interferir o
            modificar de cualquier modo los servicios o contenidos provistos en
            el Sitio.
          </li>
          <li>
            El Sitio incorpora hipervínculos a otros sitios web. Estos
            hipervínculos son provistos únicamente con la finalidad de facilitar
            al Usuario el acceso a esos sitios web. En ningún caso se entenderá
            que son patrocinados por MiaCargo ni que MiaCargo sea responsable
            por el contenido de esos sitios. El acceso a tales sitios web será
            de responsabilidad y bajo riesgo exclusivo del Usuario.
          </li>
          <li>
            Como condición esencial para acceder y/o utilizar el Sitio, el
            Usuario se obliga a: (i) proveer información verdadera, correcta,
            actual y completa acerca de su persona, del modo en que le sea
            requerido en los formularios dispuestos a ese efecto; (ii)
            actualizar y mantener actualizados los datos aportados a fin de que
            MiaCargo los conserve veraces, correctos, actuales y completos. En
            caso de que se produjese el suministro de datos o informaciones
            falsas, inexactas, desactualizadas o incompletas, o si MiaCargo
            tuviera bases medianamente para sospechar que los datos o
            informaciones aportadas por el Usuario fueran falsas, inexactas,
            desactualizadas o incompletas, MiaCargo podrá suspender o impedir al
            Usuario el acceso al Sitio, y negarle el acceso y uso presente o
            futuro de los contenidos o servicios provistos en el Sitio.
          </li>
        </ul>
        <p class="politic__p">
          <strong>Registración </strong>
        </p>
        <ul>
          <li>
            El acceso y utilización del sitio web www.miacargo.com.ar (el
            “Sitio”) se regirá por los Términos y Condiciones (los “Términos y
            Condiciones”) que aquí se detallan. Será obligación y
            responsabilidad de cualquier persona que desee acceder y/o utilizar
            el Sitio y/o los servicios (el “Usuario” o en plural los
            “Usuarios”), leer atentamente los Términos y Condiciones, puesto que
            su utilización presumirá el conocimiento y la aceptación previa de
            estos Términos y Condiciones.
          </li>
          <li>
            Cualquier persona que no acepte estos Términos y Condiciones, los
            cuales tienen carácter obligatorio y vinculante, deberá abstenerse
            de utilizar el Sitio y/o los servicios.
          </li>
          <li>
            Queda prohibido violar o intentar violar la seguridad del Sitio,
            incluyendo sin limitar: (i) acceder o intentar acceder a datos no
            provistos para el Usuario; (ii) disponer, administrar y/o
            suministrar cualquier comando que afecte la vulnerabilidad del
            sistema, red o medidas de seguridad; e (iii) intentar interferir o
            modificar de cualquier modo los servicios o contenidos provistos en
            el Sitio.
          </li>
          <li>
            El Sitio incorpora hipervínculos a otros sitios web. Estos
            hipervínculos son provistos únicamente con la finalidad de facilitar
            al Usuario el acceso a esos sitios web. En ningún caso se entenderá
            que son patrocinados por MiaCargo ni que MiaCargo sea responsable
            por el contenido de esos sitios. El acceso a tales sitios web será
            de responsabilidad y bajo riesgo exclusivo del Usuario.
          </li>
          <li>
            Como condición esencial para acceder y/o utilizar el Sitio, el
            Usuario se obliga a: (i) proveer información verdadera, correcta,
            actual y completa acerca de su persona, del modo en que le sea
            requerido en los formularios dispuestos a ese efecto; (ii)
            actualizar y mantener actualizados los datos aportados a fin de que
            MiaCargo los conserve veraces, correctos, actuales y completos. En
            caso de que se produjese el suministro de datos o informaciones
            falsas, inexactas, desactualizadas o incompletas, o si MiaCargo
            tuviera bases medianamente para sospechar que los datos o
            informaciones aportadas por el Usuario fueran falsas, inexactas,
            desactualizadas o incompletas, MiaCargo podrá suspender o impedir al
            Usuario el acceso al Sitio, y negarle el acceso y uso presente o
            futuro de los contenidos o servicios provistos en el Sitio.
          </li>
        </ul>
        <p class="politic__p">
          <strong>Fallas en el sistema </strong>
        </p>
        <ul>
          <li>
            El acceso y utilización del sitio web www.miacargo.com.ar (el
            “Sitio”) se regirá por los Términos y Condiciones (los “Términos y
            Condiciones”) que aquí se detallan. Será obligación y
            responsabilidad de cualquier persona que desee acceder y/o utilizar
            el Sitio y/o los servicios (el “Usuario” o en plural los
            “Usuarios”), leer atentamente los Términos y Condiciones, puesto que
            su utilización presumirá el conocimiento y la aceptación previa de
            estos Términos y Condiciones.
          </li>
          <li>
            Cualquier persona que no acepte estos Términos y Condiciones, los
            cuales tienen carácter obligatorio y vinculante, deberá abstenerse
            de utilizar el Sitio y/o los servicios.
          </li>
          <li>
            Queda prohibido violar o intentar violar la seguridad del Sitio,
            incluyendo sin limitar: (i) acceder o intentar acceder a datos no
            provistos para el Usuario; (ii) disponer, administrar y/o
            suministrar cualquier comando que afecte la vulnerabilidad del
            sistema, red o medidas de seguridad; e (iii) intentar interferir o
            modificar de cualquier modo los servicios o contenidos provistos en
            el Sitio.
          </li>
          <li>
            El Sitio incorpora hipervínculos a otros sitios web. Estos
            hipervínculos son provistos únicamente con la finalidad de facilitar
            al Usuario el acceso a esos sitios web. En ningún caso se entenderá
            que son patrocinados por MiaCargo ni que MiaCargo sea responsable
            por el contenido de esos sitios. El acceso a tales sitios web será
            de responsabilidad y bajo riesgo exclusivo del Usuario.
          </li>
          <li>
            Como condición esencial para acceder y/o utilizar el Sitio, el
            Usuario se obliga a: (i) proveer información verdadera, correcta,
            actual y completa acerca de su persona, del modo en que le sea
            requerido en los formularios dispuestos a ese efecto; (ii)
            actualizar y mantener actualizados los datos aportados a fin de que
            MiaCargo los conserve veraces, correctos, actuales y completos. En
            caso de que se produjese el suministro de datos o informaciones
            falsas, inexactas, desactualizadas o incompletas, o si MiaCargo
            tuviera bases medianamente para sospechar que los datos o
            informaciones aportadas por el Usuario fueran falsas, inexactas,
            desactualizadas o incompletas, MiaCargo podrá suspender o impedir al
            Usuario el acceso al Sitio, y negarle el acceso y uso presente o
            futuro de los contenidos o servicios provistos en el Sitio.
          </li>
        </ul>
        <p class="politic__p">
          <strong>Responsabilidad de MiaCargo </strong>
        </p>
        <ul>
          <li>
            El acceso y utilización del sitio web www.miacargo.com.ar (el
            “Sitio”) se regirá por los Términos y Condiciones (los “Términos y
            Condiciones”) que aquí se detallan. Será obligación y
            responsabilidad de cualquier persona que desee acceder y/o utilizar
            el Sitio y/o los servicios (el “Usuario” o en plural los
            “Usuarios”), leer atentamente los Términos y Condiciones, puesto que
            su utilización presumirá el conocimiento y la aceptación previa de
            estos Términos y Condiciones.
          </li>
          <li>
            Cualquier persona que no acepte estos Términos y Condiciones, los
            cuales tienen carácter obligatorio y vinculante, deberá abstenerse
            de utilizar el Sitio y/o los servicios.
          </li>
          <li>
            Queda prohibido violar o intentar violar la seguridad del Sitio,
            incluyendo sin limitar: (i) acceder o intentar acceder a datos no
            provistos para el Usuario; (ii) disponer, administrar y/o
            suministrar cualquier comando que afecte la vulnerabilidad del
            sistema, red o medidas de seguridad; e (iii) intentar interferir o
            modificar de cualquier modo los servicios o contenidos provistos en
            el Sitio.
          </li>
          <li>
            El Sitio incorpora hipervínculos a otros sitios web. Estos
            hipervínculos son provistos únicamente con la finalidad de facilitar
            al Usuario el acceso a esos sitios web. En ningún caso se entenderá
            que son patrocinados por MiaCargo ni que MiaCargo sea responsable
            por el contenido de esos sitios. El acceso a tales sitios web será
            de responsabilidad y bajo riesgo exclusivo del Usuario.
          </li>
          <li>
            Como condición esencial para acceder y/o utilizar el Sitio, el
            Usuario se obliga a: (i) proveer información verdadera, correcta,
            actual y completa acerca de su persona, del modo en que le sea
            requerido en los formularios dispuestos a ese efecto; (ii)
            actualizar y mantener actualizados los datos aportados a fin de que
            MiaCargo los conserve veraces, correctos, actuales y completos. En
            caso de que se produjese el suministro de datos o informaciones
            falsas, inexactas, desactualizadas o incompletas, o si MiaCargo
            tuviera bases medianamente para sospechar que los datos o
            informaciones aportadas por el Usuario fueran falsas, inexactas,
            desactualizadas o incompletas, MiaCargo podrá suspender o impedir al
            Usuario el acceso al Sitio, y negarle el acceso y uso presente o
            futuro de los contenidos o servicios provistos en el Sitio.
          </li>
        </ul>
        <p class="politic__p">
          <strong>Privacidad de la información </strong>
        </p>
        <ul>
          <li>
            El acceso y utilización del sitio web www.miacargo.com.ar (el
            “Sitio”) se regirá por los Términos y Condiciones (los “Términos y
            Condiciones”) que aquí se detallan. Será obligación y
            responsabilidad de cualquier persona que desee acceder y/o utilizar
            el Sitio y/o los servicios (el “Usuario” o en plural los
            “Usuarios”), leer atentamente los Términos y Condiciones, puesto que
            su utilización presumirá el conocimiento y la aceptación previa de
            estos Términos y Condiciones.
          </li>
          <li>
            Cualquier persona que no acepte estos Términos y Condiciones, los
            cuales tienen carácter obligatorio y vinculante, deberá abstenerse
            de utilizar el Sitio y/o los servicios.
          </li>
          <li>
            Queda prohibido violar o intentar violar la seguridad del Sitio,
            incluyendo sin limitar: (i) acceder o intentar acceder a datos no
            provistos para el Usuario; (ii) disponer, administrar y/o
            suministrar cualquier comando que afecte la vulnerabilidad del
            sistema, red o medidas de seguridad; e (iii) intentar interferir o
            modificar de cualquier modo los servicios o contenidos provistos en
            el Sitio.
          </li>
          <li>
            El Sitio incorpora hipervínculos a otros sitios web. Estos
            hipervínculos son provistos únicamente con la finalidad de facilitar
            al Usuario el acceso a esos sitios web. En ningún caso se entenderá
            que son patrocinados por MiaCargo ni que MiaCargo sea responsable
            por el contenido de esos sitios. El acceso a tales sitios web será
            de responsabilidad y bajo riesgo exclusivo del Usuario.
          </li>
          <li>
            Como condición esencial para acceder y/o utilizar el Sitio, el
            Usuario se obliga a: (i) proveer información verdadera, correcta,
            actual y completa acerca de su persona, del modo en que le sea
            requerido en los formularios dispuestos a ese efecto; (ii)
            actualizar y mantener actualizados los datos aportados a fin de que
            MiaCargo los conserve veraces, correctos, actuales y completos. En
            caso de que se produjese el suministro de datos o informaciones
            falsas, inexactas, desactualizadas o incompletas, o si MiaCargo
            tuviera bases medianamente para sospechar que los datos o
            informaciones aportadas por el Usuario fueran falsas, inexactas,
            desactualizadas o incompletas, MiaCargo podrá suspender o impedir al
            Usuario el acceso al Sitio, y negarle el acceso y uso presente o
            futuro de los contenidos o servicios provistos en el Sitio.
          </li>
        </ul>
        <p class="politic__p">
          <strong>Propiedad Intelectual</strong>
        </p>
        <ul>
          <li>
            El acceso y utilización del sitio web www.miacargo.com.ar (el
            “Sitio”) se regirá por los Términos y Condiciones (los “Términos y
            Condiciones”) que aquí se detallan. Será obligación y
            responsabilidad de cualquier persona que desee acceder y/o utilizar
            el Sitio y/o los servicios (el “Usuario” o en plural los
            “Usuarios”), leer atentamente los Términos y Condiciones, puesto que
            su utilización presumirá el conocimiento y la aceptación previa de
            estos Términos y Condiciones.
          </li>
          <li>
            Cualquier persona que no acepte estos Términos y Condiciones, los
            cuales tienen carácter obligatorio y vinculante, deberá abstenerse
            de utilizar el Sitio y/o los servicios.
          </li>
          <li>
            Queda prohibido violar o intentar violar la seguridad del Sitio,
            incluyendo sin limitar: (i) acceder o intentar acceder a datos no
            provistos para el Usuario; (ii) disponer, administrar y/o
            suministrar cualquier comando que afecte la vulnerabilidad del
            sistema, red o medidas de seguridad; e (iii) intentar interferir o
            modificar de cualquier modo los servicios o contenidos provistos en
            el Sitio.
          </li>
          <li>
            El Sitio incorpora hipervínculos a otros sitios web. Estos
            hipervínculos son provistos únicamente con la finalidad de facilitar
            al Usuario el acceso a esos sitios web. En ningún caso se entenderá
            que son patrocinados por MiaCargo ni que MiaCargo sea responsable
            por el contenido de esos sitios. El acceso a tales sitios web será
            de responsabilidad y bajo riesgo exclusivo del Usuario.
          </li>
          <li>
            Como condición esencial para acceder y/o utilizar el Sitio, el
            Usuario se obliga a: (i) proveer información verdadera, correcta,
            actual y completa acerca de su persona, del modo en que le sea
            requerido en los formularios dispuestos a ese efecto; (ii)
            actualizar y mantener actualizados los datos aportados a fin de que
            MiaCargo los conserve veraces, correctos, actuales y completos. En
            caso de que se produjese el suministro de datos o informaciones
            falsas, inexactas, desactualizadas o incompletas, o si MiaCargo
            tuviera bases medianamente para sospechar que los datos o
            informaciones aportadas por el Usuario fueran falsas, inexactas,
            desactualizadas o incompletas, MiaCargo podrá suspender o impedir al
            Usuario el acceso al Sitio, y negarle el acceso y uso presente o
            futuro de los contenidos o servicios provistos en el Sitio.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
