<div class="container">
  <div class="row ms-2 me-2 mt-3">
    <!-- Product image -->
    <div class="col-12 col-md-6 bg-light rounded-3 p-3 p-sm-4 mt-3 mt-sm-0">
      <div class="row">
        <div class="col d-flex justify-content-between align-items-center">
          <i class="bx bx-zoom-in text-dark product__i"></i>
          <div
            (click)="toggleProductWL(productDetail.id || '0')"
            [innerHTML]="isInWishList(productDetail.id || '0')"></div>
        </div>
      </div>
      <div class="row">
        <div class="col p-3 p-sm-5">
          <!-- Product Slider -->
          <div
            id="carouselExampleControlsNoTouching"
            class="carousel slide carousel-dark"
            data-bs-touch="false"
            data-bs-interval="false">
            <div class="carousel-inner">
              <div
                class="carousel-item"
                *ngFor="let product of productDetail.images; let i = index"
                [ngClass]="{ active: i == 0 }">
                <img
                  [src]="product.image"
                  class="d-block w-100 slide-product"
                  (click)="showZoom(product.image || '')"
                  alt="..." />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControlsNoTouching"
              data-bs-slide="prev">
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControlsNoTouching"
              data-bs-slide="next">
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Product description -->
    <div class="col col-md-6 p-3 p-sm-5">
      <!-- breadcrumbs -->
      <div class="row">
        <div class="col-auto">
          <span
            class="text-light me-2 product__bread"
            *ngFor="let breadcrumb of productDetail.breadcrumbs; let i = index"
            >{{ breadcrumb }}
            {{ i + 1 == productDetail.breadcrumbs?.length ? '' : '>' }}</span
          >
        </div>
      </div>
      <!-- Title Product -->
      <div class="row">
        <h1 class="text-light product__h1">
          {{ productDetail.name }}
        </h1>
      </div>
      <!-- Price of the product -->
      <div class="row">
        <div class="col d-flex align-items-center">
          <span class="text-light me-2 product__price"
            >US{{ productDetail.price | currency : 'USD' }}</span
          >
          <span class="text-light me-2 product__tag">{{
            productDetail.category
          }}</span>
          <span class="text-light me-2 product__tag">{{
            productDetail.subcategory
          }}</span>
        </div>
      </div>
      <!-- Description -->

      <div class="row">
        <div class="col">
          <p class="text-light product__p">
            {{ productDetail.short_description_en }}
          </p>
          <p class="text-light product__p">
            {{ productDetail.short_description_es }}
          </p>
        </div>
      </div>
      <!-- dimensions -->
      <!-- <div class="row mt-2 mb-2" *ngIf="productDetail.storage">
        <div class="col">
          <div class="row">
            <span class="product__dimension"
              >Storage: {{ productDetail.storage }}</span
            >
          </div>
        </div>
      </div> -->
      <!-- colors -->
      <div *ngFor="let product of productDetail.products_by_color">
        <div class="row mt-2 mb-2" *ngIf="product.active">
          <div class="col">
            <div class="row">
              <span class="product__dimension">Color: {{ product.color }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex align-items-center">
          <div
            class="d-flex justify-content-center align-items-center text-light me-2 product__color"
            *ngFor="let product of productDetail.products_by_color">
            <div
              class="circle__color"
              [style.backgroundColor]="product.colorHexadecimal"
              [style.border]="
                product.active ? '2px solid #15fed4' : '2px solid #101010'
              "
              (click)="anotherProduct(product.product_id || 0)"></div>
          </div>
        </div>
      </div>
      <div *ngFor="let product of productDetail.products_models">
        <div class="row mt-2 mb-2" *ngIf="product.active">
          <div class="col">
            <div class="row">
              <span class="product__dimension"
                >Storage: {{ product.storage }}</span
              >
            </div>
          </div>
        </div>
      </div>
      <!-- Button add cart -->
      <div class="row">
        <div class="col">
          <button
            class="btn bg-light rounded-2 mt-3"
            (click)="toggleProductCL(productDetail.id || '0')">
            <div [innerHTML]="isInCartList(productDetail.id || '0')"></div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Prueba -->
  <!-- <div
    class="ecommerce-gallery"
    data-mdb-zoom-effect="true"
    data-mdb-auto-height="true">
    <div class="row py-3 shadow-5">
      <div class="col-12 mb-1">
        <div class="lightbox">
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/14a.webp"
            alt="Gallery image 1"
            class="ecommerce-gallery-main-img active w-100" />
        </div>
      </div>
      <div class="col-3 mt-1">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/14a.webp"
          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/14a.webp"
          alt="Gallery image 1"
          class="active w-100" />
      </div>
      <div class="col-3 mt-1">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/12a.webp"
          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/12a.webp"
          alt="Gallery image 2"
          class="w-100" />
      </div>
      <div class="col-3 mt-1">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/13a.webp"
          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/13a.webp"
          alt="Gallery image 3"
          class="w-100" />
      </div>
      <div class="col-3 mt-1">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/15a.webp"
          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/15a.webp"
          alt="Gallery image 4"
          class="w-100" />
      </div>
    </div>
  </div> -->
  <!-- Fin prueba -->

  <!-- Datail product -->
  <div class="row d-flex align-items-center mt-3 mt-sm-5">
    <div class="col-5 col-sm-3">
      <h5 class="product__h5">Detalle del producto</h5>
    </div>
    <div class="col"><hr class="product__hr" /></div>
  </div>

  <div class="row mt-3">
    <div class="d-flex flex-wrap">
      <div class="col-12 col-sm-3" *ngIf="productDetail.product_detail?.cod">
        <ul>
          <li>
            <a class="product__a text-white" href=""
              >Cod: {{ productDetail.product_detail?.cod }}</a
            >
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-3" *ngIf="productDetail.product_detail?.cpu">
        <ul>
          <li>
            <a class="product__a text-white" href=""
              >CPU: {{ productDetail.product_detail?.cpu }}</a
            >
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-3" *ngIf="productDetail.product_detail?.gpu">
        <ul>
          <li>
            <a class="product__a text-white" href=""
              >GPU: {{ productDetail.product_detail?.gpu }}</a
            >
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-3" *ngIf="productDetail.product_detail?.memory">
        <ul>
          <li>
            <a class="product__a text-white" href=""
              >Memory: {{ productDetail.product_detail?.memory }}</a
            >
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-3" *ngIf="productDetail.product_detail?.os">
        <ul>
          <li>
            <a class="product__a text-white" href=""
              >OS: {{ productDetail.product_detail?.os }}</a
            >
          </li>
        </ul>
      </div>
      <div
        class="col-12 col-sm-3"
        *ngIf="productDetail.product_detail?.part_number">
        <ul>
          <li>
            <a class="product__a text-white" href=""
              >P/N: {{ productDetail.product_detail?.part_number }}</a
            >
          </li>
        </ul>
      </div>
      <div
        class="col-12 col-sm-3"
        *ngIf="productDetail.product_detail?.screen_resolution">
        <ul>
          <li>
            <a class="product__a text-white" href=""
              >Screen Resolution:
              {{ productDetail.product_detail?.screen_resolution }}</a
            >
          </li>
        </ul>
      </div>
      <div
        class="col-12 col-sm-3"
        *ngIf="productDetail.product_detail?.screen_size">
        <ul>
          <li>
            <a class="product__a text-white" href=""
              >Screen Size: {{ productDetail.product_detail?.screen_size }}</a
            >
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-3" *ngIf="productDetail.product_detail?.weight">
        <ul>
          <li>
            <a class="product__a text-white" href=""
              >Weight: {{ productDetail.product_detail?.weight }}</a
            >
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-3" *ngIf="productDetail.conditium">
        <ul>
          <li>
            <a class="product__a text-white" href=""
              >Status: {{ productDetail.conditium }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row mt-3 mt-sm-4">
    <div class="col">
      <div class="row mb-2">
        <h5 class="product__h5">
          {{ productDetail.name }}
        </h5>
      </div>
      <div class="row">
        <p class="product__p ms-2">
          {{ productDetail.long_description_en }}
        </p>
      </div>
      <div class="row">
        <p class="product__p ms-2">
          {{ productDetail.long_description_es }}
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <button class="product__btn">Ver más</button>
    </div>
  </div>

  <!-- Most Solded -->
  <div class="row d-flex align-items-center mt-3 mt-sm-5">
    <div class="col-5 col-sm-3">
      <h5 class="product__h5">Más vendidos:</h5>
    </div>
    <div class="col"><hr class="product__hr" /></div>
  </div>
  <app-featured-products
    *ngIf="homeSections.length > 0"
    [category]="homeSections[1].title.trim().split(' ').join('')"
    [featuredProducts]="homeSections[1].categories"></app-featured-products>
</div>

<!-- Zoom image -->

<div
  class="container__modal-product animate__animated animate__zoomIn animate__faster"
  *ngIf="showProduct">
  <div class="container">
    <div class="row mb-3 mt-4">
      <div class="col">
        <i
          class="bx bx-x text-white frm-register__img float-end"
          style="font-size: 32px"
          (click)="closeZoom()"></i>
        <!--  <img
          class="frm-register__img float-end"
          src="../assets/img/icon_closed_black.png"
          alt="cerrar" /> -->
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <img src="{{ imageSrc }}" class="d-block w-75" alt="..." />
    </div>
  </div>
</div>
