<div class="container">
  <div class="row ms-2 me-2 mt-3">
    <!-- Product image -->
    <div class="col-12 col-md-6 bg-light rounded-3 p-3 p-sm-4 mt-3 mt-sm-0">
      <div class="row">
        <div class="col d-flex justify-content-between align-items-center">
          <i class="bx bx-zoom-in text-dark product__i"></i>
          <i class="bx bxs-heart text-dark product__i"></i>
        </div>
      </div>
      <div class="row">
        <div class="col p-3 p-sm-5">
          <img
            class="img-fluid"
            src="../../../assets/img/MSI-GF63-Thin-Intel-Core-i5-10300H-8GB-RAM-256GB-SSD-NVIDIA-GeForce-GTX-1650-Windows-10-GF63-Thin-10.png"
            alt="" />
        </div>
      </div>
    </div>
    <!-- Product description -->
    <div class="col col-md-6 p-3 p-sm-5">
      <!-- breadcrumbs -->
      <div class="row">
        <div class="col">
          <span class="text-light me-2 product__bread">Laptop ></span>
          <span class="text-light me-2 product__bread">Gamer ></span>
          <span class="text-light me-2 product__bread">Samsung ></span>
        </div>
      </div>
      <!-- Title Product -->
      <div class="row">
        <h1 class="text-light product__h1">
          Drill Screwdriver Brandix ALX7054 200 Watts-20
        </h1>
      </div>
      <!-- Price of the product -->
      <div class="row">
        <div class="col d-flex align-items-center">
          <span class="text-light me-2 product__price">US$5,129.96</span>
          <span class="text-light me-2 product__tag">Gamer</span>
          <span class="text-light me-2 product__tag">Samsung</span>
        </div>
      </div>
      <!-- Description -->

      <div class="row">
        <div class="col">
          <p class="text-light product__p">
            acked with 57 billion transistors, the Apple M1 Max integrates the
            CPU, GPU, Neural Engine, I/O, and more into a single system on a
            chip (SoC). Built with 5nm process technology, the Apple M1 Pro
            delivers the performance you need without sacrificing power
            efficiency. The 10-Core CPU features eight performance cores and two
          </p>
        </div>
      </div>
      <!-- dimensions -->
      <div class="row mt-2 mb-2">
        <div class="col">
          <div class="row">
            <span class="product__dimension">Tamaño: 125GB</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex align-items-center">
          <div class="text-light me-2 product__tag">1TB</div>
          <div class="text-light me-2 product__tag">500GB</div>
          <div class="text-light me-2 product__tag">256GB</div>
          <div class="text-light me-2 product__tag">128GB</div>
        </div>
      </div>
      <!-- colors -->
      <div class="row mt-2 mb-2">
        <div class="col">
          <div class="row">
            <span class="product__dimension">Color: Azul</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex align-items-center">
          <div
            class="d-flex justify-content-center align-items-center text-light me-2 product__color">
            <div class="circle__color" style="background-color: yellow"></div>
          </div>
          <div
            class="d-flex justify-content-center align-items-center text-light me-2 product__color">
            <div class="circle__color" style="background-color: blue"></div>
          </div>
          <div
            class="d-flex justify-content-center align-items-center text-light me-2 product__color">
            <div class="circle__color" style="background-color: red"></div>
          </div>
          <div
            class="d-flex justify-content-center align-items-center text-light me-2 product__color">
            <div
              class="circle__color"
              style="background-color: rgb(246, 232, 232)"></div>
          </div>
        </div>
      </div>
      <!-- Button add cart -->
      <div class="row">
        <div class="col">
          <button class="btn bg-light rounded-2 mt-3 product__btn">
            <i class="bx bx-cart-add"></i> Agregar a Carrito
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Most Solded -->
  <app-featured-products
    *ngIf="homeSections.length > 0"
    [title]="homeSections[1].title"
    [category]="homeSections[1].title.trim().split(' ').join('')"
    [featuredProducts]="homeSections[1].categories"></app-featured-products>
</div>
