<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <h1>Las categorías más buscadas de todo el e-commerce</h1>
      <p class="text-muted mb-4 mb-md-5">
        Estas categorías fueron seleccionadas en función de la popularidad de
        sus productos.
      </p>
    </div>
  </div>
  <app-loading [loading]="loading"></app-loading>
  <!-- Se comenta categorias por lanzamiento -->
  <div
    class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-3 g-5"
    *ngIf="!loading">
    <div class="col" *ngFor="let category of categoriesList">
      <div class="card">
        <div class="card-body px-4">
          <div class="text-center">
            <a [href]="category.url">
              <img
                [src]="[category.image]"
                [alt]="[category.name]"
                class="img-out"
                draggable="false" />
            </a>
          </div>
          <h5 class="card-title text-nowrap">
            <a class="nav-link" [href]="category.url">{{
              category.name | titlecase
            }}</a>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <a [href]="category.url">{{ category.description_es }}</a>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
