<div class="container d-flex justify-content-center">
  <div class="container__pbg col col-lg-10 mt-2">
    <div class="row">
      <div class="col">
        <h3 class="politic__h3 text-center mt-3 mt-lg-5">
          POLÍTICA DE GARANTÍA y RMA de BYMIA
        </h3>
      </div>
    </div>
    <div class="row d-flex flex-column align-content-center">
      <div class="col col-lg-8 mt-3">
        <p class="politic__p">
          La propiedad del producto se transfiere al cliente cuando el cliente o
          el transportista toman posesión del pedido, ya sea que esto ocurra en
          el Depósito Miami de BYMIA (si el cliente o el transportista retiran
          el pedido) o en el centro de recepción del transportista en Miami. En
          este sentido solicitamos que inspeccione todos los productos
          inmediatamente después de recibirlos en el domicilio que eligió como
          destinatario o de retirarlos en el Depósito Miami de BYMIA.
        </p>
        <p class="politic__p">
          Por lo tanto, la responsabilidad por los daños que se produzcan en
          tránsito es únicamente del cliente. Una firma en la BILL OF LANDING
          (BOL) - GUÍA DE CARGA al recibir los productos confirma que dichos
          productos se reciben en buenas condiciones a menos que se haga una
          salvedad en el BOL y se notifique a BYMIA de inmediato.
        </p>
        <p class="politic__p">
          Todos los productos (ya sean nuevos, reacondicionados de fábrica o
          reacondicionados por terceros) se venden “como están”, sin más
          garantía que la garantía limitada del fabricante aplicable a cada
          producto, a menos que se especifique lo contrario en la orden de venta
          correspondiente. BYMIA rechaza todas las demás garantías, en la máxima
          medida permitida por la ley, incluidas las garantías implícitas de
          comerciabilidad, idoneidad para un propósito particular, cualquier
          garantía que derive de las prestaciones, la negociación o el uso
          comercial, y cualquier garantía legal de no-infracción. Las
          devoluciones relacionadas con la garantía del fabricante pueden estar
          sujetas a los términos y condiciones específicos de la garantía del
          fabricante correspondiente y las políticas de devolución del
          fabricante correspondientes al producto devuelto.
        </p>
        <p class="politic__p">
          La garantía del producto es nula, si el producto es dañado físicamente
          debido a: abuso del usuario y/o manejo inadecuado; intento de reparar,
          agregarle algo o rehacer el producto, o modificar y/o desfigurar el
          sello de garantía, el número de serie y/o las etiquetas del fabricante
          original. La garantía del producto también queda anulada, si falta el
          número de serie del producto en el momento de la devolución.
        </p>
        <p class="politic__p">
          No trate de devolver ningún producto antes de solicitar y recibir un
          número de RMA (Return Merchandise Authorization) del Departamento RMA
          de BYMIA. Para ello ingrese en su panel de cliente desde la web
          www.bymiashop.com y complete el formulario de RMA o comuníquese con el
          Departamento RMA de BYMIA por correo electrónico a info@bymiashop.com
          para obtener más detalles.
        </p>
        <p class="politic__p">
          Todas las ventas son finales. BYMIA no ofrece reembolsos ni protección
          de precios. Al devolver cualquier producto a BYMIA, usted declara y
          garantiza que el producto devuelto fue comprado a BYMIA, no es
          falsificado o no conforme, y no viola la Política de garantía y RMA de
          BYMIA. También acepta que BYMIA puede probar cualquier producto
          devuelto para determinar si dicho producto es falsificado, no conforme
          o si infringe la Política de garantía y RMA de BYMIA. En el caso de
          que BYMIA determine, a su sola discreción, que cualquier producto
          devuelto es falsificado, o, en cierto modo, no es idéntico, o viola la
          Política de RMA y Garantía de BYMIA, la empresa puede (i) informar
          dicho problema a cualquier agencia gubernamental o reguladora
          aplicable o cualquier otro tercero aplicable; (ii) poner en cuarentena
          dicho producto para realizar más pruebas u otros análisis; y/o (iii)
          tomar otras medidas que puedan ser requeridas o permitidas por la ley
          aplicable.
        </p>
      </div>
    </div>
  </div>
</div>
