<div class="container">
  <div
    class="container p-2 p-md-5 container__bg animate__animated animate__zoomIn">
    <!-- Header Cart -->
    <div
      class="row cart__header pt-3 pb-3 p-md-4 mb-2 d-flex justify-content-between align-items-center">
      <!--colum1  -->
      <div class="col">
        <h3 class="cart__h3 cart__h3-title">
          Carrito
          <img src="../assets/svg/Icon_shopping_cart.svg" alt="favoritos" />
        </h3>
        <!-- <button
          class="cart__button cart__button-mobile"
          (click)="openConfirm()">
          Anular la seleccion de todos los elementos
        </button> -->
      </div>
      <!--colum2  -->
      <div class="col-7 d-flex justify-content-end align-items-center">
        <div class="me-1">
          <button class="cart__button cart__button-bg">
            Proceder al envio
          </button>
        </div>
        <div class="d-flex flex-column align-content-center">
          <h3 class="cart__h3 cart__h3-ligth">Subtotal</h3>
          <p class="cart__p cart__p-bold">US$ {{ priceTotal }}</p>
        </div>
      </div>
    </div>
    <!-- Product -->
    <div
      class="row cart__product-bg p-3 d-flex justify-content-center align-items-center mb-2"
      *ngFor="let product of products; index as id">
      <div class="col-12 col-lg-2 p-0 cart__mg text-center">
        <img
          width="125px"
          [src]="[product.img_url]"
          [alt]="[product.nameProduct]" />
      </div>
      <div class="col-12 col-lg-2 p-0 cart__mg">
        <h3 class="cart__h3 cart__h3-center">Nombre de producto:</h3>
        <p class="cart__p m-0 cart__p-center cart__p-mobile">
          {{ product.nameProduct }}
        </p>
      </div>
      <div class="col-12 col-lg-6 p-0 d-flex justify-content-between">
        <div class="col-4 p-0 text-center cart__mg">
          <h3 class="cart__h3">PRE X UNI</h3>
          <p class="cart__p m-0 cart__p-bold">$ {{ product.priceByUnit }}</p>
        </div>
        <div class="col-4 p-0 text-center cart__mg">
          <h3 class="cart__h3">CANTIDAD</h3>
          <div class="d-flex justify-content-center align-content-center">
            <img
              class="me-1 cart__img-pointer"
              src="../assets/svg/icon_subtract.svg"
              alt="Restar"
              (click)="subtractProduct(id)" />
            <p class="cart__p m-2 cart__p-bold">
              {{ product.productQuantity }}
            </p>
            <img
              class="ms-1 cart__img-pointer"
              src="../assets/svg/icon_plus.svg"
              alt="Adicionar"
              (click)="addProduct(id)" />
          </div>
        </div>
        <div class="col-4 p-0 text-center cart__mg">
          <h3 class="cart__h3">PRE TOTAL</h3>
          <p class="cart__p m-0 cart__p-bold">$ {{ product.priceTotal }}</p>
        </div>
      </div>
      <div class="col-12 col-lg-2 p-0 text-center cart__mg cart__dflex">
        <div class="mb-2">
          <button class="cart__button-product">Ver producto</button>
        </div>
        <div>
          <button
            class="cart__button-product cart__button-product-black"
            (click)="deleteProduct(id)">
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid">


    <div class="container container__wishlist animate__animated animate__zoomIn">

        <div class="container__wishlist__header">
            <div class="title__wishlist">
                <h3>Carrito <img src="../assets/svg/Icon_shopping_cart.svg" alt="favoritos"></h3>
                <button class="button__deleteallproduct" (click)="openConfirm()">Anular la seleccion de todos los elementos</button>
            </div>



            <div class="container__subtotal">
                <div class="button__addproduct">
                    <button>Proceder al envio</button>
                </div>

                <div class="subtotal">
                    <h6>Subtotal</h6>
                    <p>US$ {{priceTotal}} </p>
                </div>
            </div>
        </div>



        <div class="container__product__wishlist container__product__shopcart"
            *ngFor="let product of products index as id"
        >
            <img [src]=[product.img_url] [alt]=[product.nameProduct]>
            <div class="product__wishlist">
                <h3>Nombre de producto: </h3>
                <p> {{product.nameProduct}}  </p>
            </div>

            <div class="product__shopcart">
                <h3>PRE X UNI</h3>
                <p>$ {{product.priceByUnit}} </p>
            </div>
            <div class="product__shopcart ">
                <h3 >CANTIDAD</h3>
                <div class="product__shopcart__quantity">

                    <img src="../assets/svg/icon_subtract.svg" alt="Restar" (click)="subtractProduct(id)">
                    <p> {{product.productQuantity}} </p>
                    <img src="../assets/svg/icon_plus.svg" alt="Adicionar" (click)="addProduct(id)">

                </div>
            </div>

            <div class="product__shopcart">
                <h3>PRE TOTAL</h3>
                <p>$ {{product.priceTotal}} </p>
            </div>


            <div class="button__product__wishlist button__product__shopcart">
                <button class="addcart">Ver producto</button>
                <button (click)="deleteProduct(id)">Eliminar</button>

            </div>



        </div>

        <div class="container__product__wishlist container__product__shopcart container__product__noproduct"
            *ngIf="noProduct"
        >

        <h2>Tu carrito está vacío</h2>
        <p>¿No sabés qué comprar? ¡Miles de productos te esperan!</p>
        <a  class="noproduct__a" href="destacados">Descubrir ofertas</a>
    </div>



    </div>



</div> -->

<!-- Modal Confimation -->

<!-- <div
  class="container__modal container__modal__confirm animate__animated animate__zoomIn animate__faster"
  *ngIf="showConfirmation">
  <div class="container__form">
    <img
      (click)="closeDelete()"
      src="../assets/img/icon_closed_black.png"
      alt="cerrar" />
    <img
      class="exclamation"
      src="../assets/svg/exclamation-triangle-fill.svg"
      alt="cerrar" />
    <div class="container__platform">
      <p class="platform__p confirm__p">
        {{ messageConfirm }}
      </p>
    </div>

    <form action="">
      <button class="button_modal" (click)="closeDelete()" *ngIf="showCancel">
        Cancelar
      </button>
      <button
        class="button_modal button__confirm"
        (click)="confirmDeleteAllProduct()">
        Aceptar
      </button>
    </form>
  </div>
</div>
 -->
