
<div class="container__modal animate__animated animate__zoomIn animate__faster">
    <div class="container__form">
       <img  routerLink="/"  src="../assets/img/icon_closed_black.png" alt="cerrar">
 
       
       <p class="title__registerMail__p">Seleccione si eres Persona o Empresa</p>
       
       <form class="form__register__mail" action="">
          <select name="" id="">
             <option value="">Persona</option>
             <option value="">Empresa</option>
          </select>
          
          <input type="email" placeholder="Nombre y Apellido">
          <input type="email" placeholder="Dirección de email">
          <input type="password"  placeholder="Contraseña">
          <input type="password"  placeholder="Confirmar Contraseña">
          <input type="tel"  placeholder="Código del pais +xx ">
          <input type="tel"  placeholder="Celular (xxx) xxx-xxxx">
          <p class="condition__p register__p">Si deseas recibir las notificaciones de tu envío por WhatsApp, hace click  <a href=""><strong>acá.</strong> </a>
             </p>
          
          </form>
          <button class="button_modal" (click)="registerUser()" >Registrarse</button>
       
       
       <p class="condition__p">Al Entrar o Registrarte , aceptas las <a href=""><strong>Condiciones de servicio </strong> </a>
          y la <a href=""><strong>Política de privacidad</strong> </a>  </p>
    </div>
 </div>
 
