<div class="container__about">
    <div class="about xxl col-6">

        <div class="hero__img">
            <img src="../assets/img/hero-img-about.png" alt="nosotros">
        </div>

        <div class="description__about">
            <h4>Somos Bymia un e-commerce</h4>
            <p class="about__p">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dolor repellendus doloribus quisquam veniam commodi molestiae laboriosam facere ex neque, ipsa numquam explicabo possimus temporibus sapiente ad, corrupti doloremque provident.
            </p>
        </div>

    </div>
</div>
<!-- <app-panel></app-panel> -->


