<div class="container__modal animate__animated animate__zoomIn animate__faster" *ngIf="showMessage" >
    <div class="container  bg-white rounded-3 justify-content-center frm-register">
       <div class="row mb-3 mt-4">
          <div class="col">
             <img class="frm-register__img float-end" routerLink="/" src="../assets/img/icon_closed_black.png"
                alt="cerrar">
          </div>
       </div>
 
       <div class="row">
          <div class="col text-center">
             <p class="text-dark modal__p" > <strong> {{message}} </strong> </p>
             
          </div>
       </div>
       <div class="row">
          <div class="col text-center ps-5 pe-5">
             <p class="text-dark fw-bold" > Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut omnis beatae ratione inventore, fuga nam. Possimus, debitis dolorem? Provident dolor repellendus vitae dicta hic quisquam ad eius sapiente! Ratione, repellat?
                 </p>
 
          </div>
       </div>
       <div class="row pb-4">
          <div class="col text-center">
             <i class='bx bxs-check-circle bx-tada-hover modal__i text-center' width="160px" ></i>
          </div>
       </div>
       
 
    </div>
    
 </div>
