<nav class="nav__container">
    <div class="link__container">
        <div class="nav__links" >
            <a routerLink="nosotros" > {{linksHeader[0].label}}

            </a>
        </div>

        <div class="nav__links" >
            <a routerLink="faqs" > {{linksHeader[1].label}}

            </a>
        </div>

        <div class="nav__links" >
            <a routerLink="ofertas" > {{linksHeader[2].label}}

            </a>
        </div>

        <div class="nav__links" >
            <a routerLink="lanzamientos" > {{linksHeader[3].label}}

            </a>
        </div>

        <div class="nav__links" >
            <a routerLink="flash-sales" > {{linksHeader[4].label}}

            </a>
        </div>

        <div class="nav__links" >
            <a  > Precio De Lista 

            </a>
        </div>
        
    </div>
    <img src="../assets/svg/Icon_awesome_search.svg" alt="Buscar" class="search" (click)="openBarSearch()">
   
</nav>


<form class="search__form" action="" *ngIf="switchBar">
    <select name="" id="">
        <option value="">Categorías</option>
        <!-- //<option value="" >Por categorías de productos</option> -->
        <optgroup label="Por categorías de productos">
            <option value="">Todos</option>
            <option value="">Accesorios</option>
            <option value="">Laptops</option>
            <option value="">Celulares</option>
            <option value="">Audio</option>
            <option value="">Tablets</option>
            <option value="">Desktop</option>
        </optgroup>
        <optgroup label="Por Marcas">
            <option value="">Todas</option>
            <option value="">Asus</option>
            <option value="">Apple</option>
            <option value="">Hp</option>
            <option value="">Logitech</option>
            <option value="">msi</option>
            <option value="">Samsung</option>
        </optgroup>
        <option value="">Ofertas</option>
        <option value="">Lanzamientos</option>
        <option value="">Flash Sales</option>
        <option value="">Destacados</option>
        <option value="">Más Vendidos</option>
    </select>
    <img class="search__img" src="/assets/img/icon_search_black.png" alt="Buscar">
    <input type="text" placeholder="Buscar por producto, marca, color, etc.">
    <img class="close__img" src="/assets/img/icon_closed_black.png" alt="Cerrar" (click)="closeBarSearch()">

</form>

