<div class="container">
  <div class="faq mt-5 p-sm-4 p-xxl-5">
    <!--   <h1 class="">Preguntas frecuentes</h1> -->

    <!-- <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header"></h2>

        <div
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div>
              <h5>
                <strong></strong>
              </h5>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            Preguntas frecuentes sobre envíos
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            <!-- Question one -->
            <h5>
              <strong
                >¿Con qué empresa realizan los envíos de mis compras?</strong
              >
            </h5>
            <p>
              Enviaremos tus productos con MiaCargo. Podrás seguir tu envío
              ingresando en tu panel de cliente.
            </p>
            <!-- Question two -->
            <h5>
              <strong
                >¿Qué datos necesito pasar sobre el destinatario de mi
                compra?</strong
              >
            </h5>
            <p>
              Nombre y apellido o razón social. Tipo y número de documento.
              País, estado o provincia, ciudad, dirección, código postal y
              teléfono. Mail y algún dato adicional que te parezca útil.
            </p>
            <!-- Questios three -->
            <h5>
              <strong>¿Por qué etapas pasa mi orden de compra?</strong>
            </h5>
            <p>
              Tu pedido pasa por estas etapas: Creada, Confirmada, En
              preparación, Envío parcial (si por cuestiones operativas dividimos
              tu pedido en diferentes envíos) y Enviada. Te iremos informando
              cada vez que tu orden avance una etapa.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
