<div class="ctn-panel">
  <div class="panel">
    <div class="panel__menu">
      <div class="panel__menu__img">
        <img
          [routerLink]="['/my-data']"
          src="./assets/svg/mydata_img.svg"
          alt="mis Datos" />
      </div>
      <div class="panel__menu__opt">
        <h3 [routerLink]="['/my-data']">Mis datos</h3>
        <p [routerLink]="['/my-data']">
          Información básica que necesitamos para completar el proceso.
        </p>
      </div>
    </div>
    <div class="panel__menu">
      <div class="panel__menu__img">
        <img
          [routerLink]="['/orders']"
          src="./assets/svg/order_img.svg"
          alt="Tus ordenes" />
      </div>
      <div class="panel__menu__opt">
        <h3 [routerLink]="['/orders']">Mis ordenes</h3>
        <p [routerLink]="['/orders']">
          Registro de cada compra que hiciste. Ordenanos y nos ordenamos.
        </p>
      </div>
    </div>
    <div class="panel__menu">
      <div class="panel__menu__img">
        <img
          [routerLink]="['/help']"
          src="./assets/svg/help_img.svg"
          alt="Ayuda" />
      </div>
      <div class="panel__menu__opt">
        <h3 [routerLink]="['/help']">Ayuda</h3>
        <p [routerLink]="['/help']">
          Estamos a tu disposición para facilitar tu compra. Consultanos.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container__zone">
    
    <div class="zone">
        <div class="zone__img">
            <img src="./assets/svg/mydata_img.svg" alt="" >
        </div>
        <div class="description">
           
            <h4 routerLink="/user-panel/my-data"> Mis Datos </h4>
            <p>Lorem ipsum dolor sit amet, conta
                sectetur adipiscing elit.</p>
        </div>
    </div>
    
    <div class="zone">
        <div class="zone__img">
            <img src="./assets/svg/order_img.svg" alt="" srcset="">
        </div>
        <div class="description">
            <h4> <a routerLink="/user-panel/orders">Tus Ordenes</a> </h4>
            <p>Lorem ipsum dolor sit amet, conta
                sectetur adipiscing elit.</p>
        </div>
    </div>


   

    <div class="zone">
        <div class="zone__img">
            <img src="./assets/svg/help_img.svg" alt="" srcset="">
        </div>
        <div class="description">
            <h4><a routerLink="/user-panel/help">Ayuda</a> </h4>
            <p>Lorem ipsum dolor sit amet, conta
                sectetur adipiscing elit.</p>
        </div>
    </div>
</div> -->
