@import 'variables';
html,
body {
  font-family: $primary-font, Helvetica, sans-serif !important;
  background-color: $background-color;
  background-image: url('../assets/img/bymia-background.svg') !important;
  background-repeat: repeat-y;
  background-position: 50% 120%;
  background-size: 100%;
  background-size: 150%;
  color: $primary-color;
  padding: 0;
  margin: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

*,
::after,
::before {
  box-sizing: none;
}

a {
  text-decoration: none;
}

/* *, ::after, ::before {
    box-sizing: content-box;
} */

.bg-secundary {
  display: flex;
  justify-content: center;
  background-color: #15fed4;
  color: #000;
  align-items: center;
}
