/* Fonts */

$primary-font: ppneuemontreal !important;

/* Colors */

$primary-color: #ffffff;
$secundary-color: #15fed4;
$background-color: #000000;
$background-contain: #101010;

/* Text Size */

$h1: 5rem;
