<div class="container-fluid mt-4">
  <!-- Producto -->
  <div class="container container__wishlist animate__animated animate__zoomIn">
    <div class="container__wishlist__header">
      <div class="title__wishlist">
        <h3>
          Favoritos
          <img src="../assets/svg/Icon_heartblack.svg" alt="favoritos" />
        </h3>
        <button class="button__deleteallproduct">
          Anular la seleccion de todos los elementos
        </button>
      </div>

      <div class="button__addproduct">
        <button>Agregar todos los productos al carrito</button>
      </div>
    </div>

    <!-- Producto -->

    <div class="container__product__wishlist">
      <img src="../assets/img/desktophp.png" alt="" />
      <div class="product__wishlist">
        <h3>Nombre de producto:</h3>
        <p>HP Elite Dragonfly G3. The best HP laptop overall</p>
      </div>

      <div class="product__wishlist">
        <h3>PRE X UNI</h3>
        <p>$432</p>
      </div>

      <div class="col button__product__wishlist">
        <button>Eliminar</button>
        <button>Ver producto</button>
        <button class="addcart">Agregar al carrito</button>
      </div>
    </div>

    <!-- Producto -->

    <div class="container__product__wishlist">
      <img src="../assets/img/desktophp.png" alt="" />
      <div class="product__wishlist">
        <h3>Nombre de producto:</h3>
        <p>HP Elite Dragonfly G3. The best HP laptop overall</p>
      </div>

      <div class="product__wishlist">
        <h3>PRE X UNI</h3>
        <p>$432</p>
      </div>

      <div class="col button__product__wishlist">
        <button>Eliminar</button>
        <button>Ver producto</button>
        <button class="addcart">Agregar al carrito</button>
      </div>
    </div>

    <!-- Producto -->

    <div class="container__product__wishlist">
      <img src="../assets/img/desktophp.png" alt="" />
      <div class="product__wishlist">
        <h3>Nombre de producto:</h3>
        <p>HP Elite Dragonfly G3. The best HP laptop overall</p>
      </div>

      <div class="product__wishlist">
        <h3>PRE X UNI</h3>
        <p>$432</p>
      </div>

      <div class="col button__product__wishlist">
        <button>Eliminar</button>
        <button>Ver producto</button>
        <button class="addcart">Agregar al carrito</button>
      </div>
    </div>

    <!-- Producto -->

    <div class="container__product__wishlist">
      <img src="../assets/img/desktophp.png" alt="" />
      <div class="product__wishlist">
        <h3>Nombre de producto:</h3>
        <p>HP Elite Dragonfly G3. The best HP laptop overall</p>
      </div>

      <div class="product__wishlist">
        <h3>PRE X UNI</h3>
        <p>$432</p>
      </div>

      <div class="col button__product__wishlist">
        <button>Eliminar</button>
        <button>Ver producto</button>
        <button class="addcart">Agregar al carrito</button>
      </div>
    </div>

    <!-- Producto -->

    <div class="container__product__wishlist">
      <img src="../assets/img/desktophp.png" alt="" />
      <div class="product__wishlist">
        <h3>Nombre de producto:</h3>
        <p>HP Elite Dragonfly G3. The best HP laptop overall</p>
      </div>

      <div class="product__wishlist">
        <h3>PRE X UNI</h3>
        <p>$432</p>
      </div>

      <div class="col button__product__wishlist">
        <button>Eliminar</button>
        <button>Ver producto</button>
        <button class="addcart">Agregar al carrito</button>
      </div>
    </div>

    <!-- Producto -->

    <div class="container__product__wishlist">
      <img src="../assets/img/desktophp.png" alt="" />
      <div class="product__wishlist">
        <h3>Nombre de producto:</h3>
        <p>HP Elite Dragonfly G3. The best HP laptop overall</p>
      </div>

      <div class="product__wishlist">
        <h3>PRE X UNI</h3>
        <p>$432</p>
      </div>

      <div class="col button__product__wishlist">
        <button>Eliminar</button>
        <button>Ver producto</button>
        <button class="addcart">Agregar al carrito</button>
      </div>
    </div>

    <!-- Producto -->

    <div class="container__product__wishlist">
      <img src="../assets/img/desktophp.png" alt="" />
      <div class="product__wishlist">
        <h3>Nombre de producto:</h3>
        <p>HP Elite Dragonfly G3. The best HP laptop overall</p>
      </div>

      <div class="product__wishlist">
        <h3>PRE X UNI</h3>
        <p>$432</p>
      </div>

      <div class="col button__product__wishlist">
        <button>Eliminar</button>
        <button>Ver producto</button>
        <button class="addcart">Agregar al carrito</button>
      </div>
    </div>

    <!-- Producto -->

    <div class="container__product__wishlist">
      <img src="../assets/img/desktophp.png" alt="" />
      <div class="product__wishlist">
        <h3>Nombre de producto:</h3>
        <p>HP Elite Dragonfly G3. The best HP laptop overall</p>
      </div>

      <div class="product__wishlist">
        <h3>PRE X UNI</h3>
        <p>$432</p>
      </div>

      <div class="col button__product__wishlist">
        <button>Eliminar</button>
        <button>Ver producto</button>
        <button class="addcart">Agregar al carrito</button>
      </div>
    </div>
  </div>
</div>
